/*h2,h3,h4,h5,h6,p,.heading3,.heading4
{
    margin-bottom: 20px;
    margin-top: 20px;
}

p:first-of-type {
    margin-top: 0px;
}

p:last-of-type {
    margin-bottom:30px;
}*/

.tab-content .tab-pane:not(#backlinks) div {
    p:last-of-type, ol:last-of-type, dl:last-of-type, ul:last-of-type, .abstract:last-child, .card { margin-bottom: 30px; }
}

p, ul, ol, dl
{
    padding: 0px;
    margin: 0px;
    margin-bottom: $line-height-computed;
    list-style: none;
    
}
ol
{
    margin-left: 20px;
}

ol.decimal {
    list-style:decimal;
    > li { margin-bottom: 4px; }
    
}

ol.none {
    margin-left:0;
}
