.hidden {
    display: none;
}

.no-wrap {
    white-space:nowrap;
}

/* the class that toggles the line wrap */
.line-wrap {
    white-space:pre-wrap;
    word-wrap:break-word;
}

.extraLight
{
    font-family: $font-family-sans-serif;
    font-weight: normal!important;
}

.colored
{
    background-color: $gray-lightest;
}

.info {
    background: $info;
}

.greyLight
{
    background-color: $gray-light;
}

.greyDark
{
    background-color: $gray-dark;
}

.float-left img {
    float:left;
    margin: 0px 2em 1em 0px;
    padding: .5em 1em;
    max-width: 100%;
}

.float-right img {
    float:right;
    margin: 0px 0px 1em 2em;
    padding: .5em 1em;
    max-width: 100%;
}

.inline {
    display:inline !important;
    margin: 0px 1em;
}

.inline-list li {
    display: inline;
    list-style-type: none;
    padding-right: 2px;
}


.inline-list *:not(:last-of-type) :after {
    content:';'
}

.borderBottom
{
    border-bottom: 1px solid $gray-light;
}

.borderTop
{
    border-top: 1px solid $gray-light;
}

.paddingTopIcon
{
    padding-top: 50px;
}

.paddingBottomIcon
{
    padding-bottom: 50px;
}