h1
{
    margin-top: 58px;
    margin-bottom: 30px;
    line-height: 1.14em;
    text-transform: uppercase;
    font-family: 'BrandonGrotesque-Black';
}

h1.document
{
    font-size: 40px;
}

h3,.heading3
{
 line-height: 1.5em;
}

h2,h3,h4,.heading3,.heading4
{
/*    margin-top: 0px; */  
    font-family: $font-family-sans-serif-bold;
}

h4,.heading4
{
    line-height: 20px;
    font-weight: 400px;
}

a:hover
{
   text-decoration: none;
}


h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,.heading3 a:hover,.heading4 a:hover
{
    text-decoration: none;
}

.common-link {
    color: $link-color;
    cursor:pointer;
    white-space: nowrap;
    &:hover {
        color: $link-hover-color;
    }
}

#transcription {
    font-family: $font-family-serif;
    
    p {
        margin-top: 0px;
    }

    .authorDate {
        text-align: right;
    }
}

strong {
    font-family: $font-family-sans-serif-bold;
    font-weight: normal;
}
