//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-dark:              #323232;
$gray-darker:            darken($gray-dark, 10%);
$gray:                   #646464;
$gray-light:             #B5B5B5;
$gray-lighter:           #F0F0F0;
$gray-lightest:          #F5F5F5;
$black:                  #000;

$primary:         #0064B4;
$blue-light:      #018eff;
$success:         #c8e5c4;
$info:            #d9edf7;
$warning:         #ffe9a7;
$danger:          #e78c8a;


$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger
  ),
  $theme-colors
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 560px,
  md: 740px,
  lg: 980px,
  xl: 1160px
);


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color:            $gray;

//** Global textual link color.
$link-color:            $primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      lighten($link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'CamingoDos-Regular', Helvetica, Arial, sans-serif;
$font-family-sans-serif-bold: 'CamingoDos-Bold';
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif !default;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .75;

$line-height-base:            1.5;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 1.875;
$h3-font-size:                $font-size-base * 1.2;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                ceil(($font-size-base * 0.75));

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.875; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-large-vertical:    50px;

$line-height-large:         1.33;

$border-radius-base:        0px;
$input-border-radius: $border-radius-base;
$border-radius-lg:       0px;
$border-radius-sm:       0px;

$enable-rounded: false !default;

//== Forms
//
//##


//** Placeholder text color
$input-color-placeholder:        $gray-light;


//== Tabs

$state-info-bg:                  $info;



//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 $gray-lightest;

//** Default progress bar color
$progress-bar-bg:             $primary;

// Navigation

$navbar-light-active-color:         $primary;
$navbar-light-color:                rgba($black, .6) !default;


//== Breadcrumbs
//
//##

$breadcrumb-padding-y:   10px;
$breadcrumb-padding-x: 0px;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $primary;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "\f054";


//== Carousel
//
//##

$carousel-indicator-active-bg:                $gray-light;


//== Code
//
//##

$code-color:                  #c7254e;
$kbd-bg:                      #333;
$pre-color:                   $gray-dark;

//== Type
//
//##

//** Text muted color
$text-muted:                  $gray-light;
//** Blockquote small color
$blockquote-small-color:      $gray-light;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25);

//** Extra color definitions for later data:image urls
$white:    #fff !default;
$black:    #000 !default;
$gray-800: #343a40 !default;
$navbar-dark-color:                 rgba($white, .5) !default;
$custom-select-indicator-color:     $gray-800 !default;
$component-active-color:      $white !default;
$custom-control-indicator-checked-color:        $component-active-color !default;
$custom-checkbox-indicator-indeterminate-color:        $custom-control-indicator-checked-color !default;
$navbar-light-color:                rgba($black, .5) !default;
$carousel-control-color:             $white !default;

//** rewrite spaces as %20 so our minifier yuicomporess won't compress these
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='8'%20viewBox='0%200%208%208'><path%20fill='#{$custom-control-indicator-checked-color}'%20d='M6.564.75l-3.59%203.612-1.538-1.55L0%204.26l2.974%202.99L8%202.193z'/></svg>") !default;

$custom-checkbox-indicator-icon-indeterminate: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='4'%20height='4'%20viewBox='0%200%204%204'><path%20stroke='#{$custom-checkbox-indicator-indeterminate-color}'%20d='M0%202h4'/></svg>") !default;

$custom-radio-indicator-icon-checked: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='12'%20viewBox='-4%20-4%208%208'><circle%20r='3'%20fill='#{$custom-control-indicator-checked-color}'/></svg>") !default;

$custom-select-indicator: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='4'%20height='5'%20viewBox='0%200%204%205'><path%20fill='#{$custom-select-indicator-color}'%20d='M2%200L0%202h4zm0%205L0%203h4z'/></svg>") !default;

$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='30'%20height='30'%20viewBox='0%200%2030%2030'><path%20stroke='#{$navbar-dark-color}'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/></svg>") !default;

$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='30'%20height='30'%20viewBox='0%200%2030%2030'><path%20stroke='#{$navbar-light-color}'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/></svg>") !default;

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20fill='#{$carousel-control-color}'%20width='8'%20height='8'%20viewBox='0%200%208%208'><path%20d='M5.25%200l-4%204%204%204%201.5-1.5L4.25%204l2.5-2.5L5.25%200z'/></svg>") !default;

$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg%20xmlns='http://www.w3.org/2000/svg'%20fill='#{$carousel-control-color}'%20width='8'%20height='8'%20viewBox='0%200%208%208'><path%20d='M2.75%200l-1.5%201.5L3.75%204l-2.5%202.5L2.75%208l4-4-4-4z'/></svg>") !default;
