/*span.tag {
    color: #3a88d5;
    padding: 1px;
}

span.text {
    color: black;
}

span.tag.close
{
    float: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    opacity: 1;
    text-shadow:none;
}


span.tag.close:hover, span.tag.close:focus
{
    color: #3a88d5;
    cursor:none;
} 

div.element {
    display: inline;
    margin: 1px 0 2px;
}
 
ul.nav
{
    margin-left: 0px;
}
 
.dropdown-menu .text
{
    color: $gray;
}

.dropdown-menu  li:hover a .text,.dropdown-menu  li.active a .text
{
    color:#fff;
}

.dropdown-menu .inner
{
    max-height: 300px!important;
    max-width: 200px!important;
}

.longtext
{
    margin-bottom: 50px;
}

.longtext table
{
    margin-top: 50px;
    margin-bottom: 50px;
}

/\*
.longtext .eg
{
    font-family: 'CamingoDos-Regular';
    color: $gray;
    margin-top: 0px;
    margin-bottom: 50px;
}
*\/

#docText ul
{
    list-style: none;
    margin-left: 0px;
}

// Select
.searchform .btn-group .btn
{
    font-size: 12px!important;
    padding: 14px 8px;
}

.searchform .btn-group .btn input
{
    font-size: 12px!important;    
}

.bootstrap-select
{
    width: 100px!important;
    
}

 .btn-group .dropdown-toggle .filter-option:after
{
    margin-left: 4px;
}

.searchform input
{
  padding: 10px 8px;
  font-size: 12px!important; 
  height:50px;
}

.searchform .input-group-btn:last-child 
{
    width: 62px!important;
}

.input-group-btn .btn
{
    font-size: 12px;
    padding: 12px 8px;
}

.panel-heading {
    border-radius: $border-radius-base;
}
*/