/* apparatus styling */

.apparatus-details {
    font-size:smaller;
    margin-top:8px;
    padding-left:12px;
    border-left:1px solid $gray-light;
    line-height:($line-height-base * 0.85);
}

.apparatus-details h4 {
    font-size:inherit;
    margin:10px 0 4px 0;
}

.apparatus-block {
    margin: 4px 0 4px 0;
}

.apparatus-link:before {
    font-size: 0.8em;
    font-family:"FontAwesome";
    content:"\f062";
    padding-right:4px;
}

/* lemma styling */
span.tei_lemma {
    font-style: italic;
    color: gray;
    font-size: smaller;
    }

.apparatus span.tei_lemma:after {
    content: " — ";
}

ul.apparatus > li {
    border-top:1px solid $gray-lighter;
    padding: 6px 0 6px 12px;
    margin-bottom:0;
}

/*
 * toggle for XML preview line wrap  
 */
/* styling of the control */
.line-wrap-toggle {
    text-align: right;
}

/*
 * styling of code sections on XMLPreview tabs
 */
#XMLPreview {
    .prettyprint {
        word-wrap:normal; /* overwrite the default to force no line break on Safari */
        font-size: ceil(($font-size-base * 0.9));
    }
}