// Suchergebnisse

.searchForm
{
    margin-bottom: 50px;
}

.searchResults {
    li.media {
        margin-bottom: 30px;
    }

    .row {
        margin-top: 30px;
    }
    
    h3, p {
        margin-bottom: 0px;
    }

    .pull-left {
        margin-top: 2px;
        width: 50px; // fixed width for portraits and preview icons
        margin-right: 3%;
    }
    
    .preview-icon i.fa {
        font-size:3em;
    }
        
    .media-body .pull-left {
        margin-top: 0px;
        width: 20px;
        margin-right: 10px;
    }
}

*[class*="hi-"], *[class*="hi-"] *, .hi {
    color: #ffffff !important;
    background-color: $primary !important;
}

.preview-icon {
    margin-right: 1em;
}

.pagination.switch-limit {
    white-space: nowrap;
}