<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://www.weber-gesamtausgabe.de/webapp"
    abbrev="WeGA-WebApp" version="@project.version@" spec="1.0">
    <title>WeGA WebApp</title>
    <dependency package="http://exist-db.org/apps/shared"/>
    <dependency package="http://www.functx.com"/>
    <dependency package="http://xqilla.sourceforge.net/pkg/xqjson"/>
</package>
