<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@project.name@"
    abbrev="@project.app@" version="@project.version@" spec="1.0">
    <title>@project.app@</title>
    <dependency processor="http://exist-db.org" semver-min="5.2.0"/>
    <dependency package="http://weber-gesamtausgabe.de/webapp-lib" semver-min="1.7.0"/>
    <dependency package="http://exist-db.org/html-templating" semver-min="1.0.0"/>
    <dependency package="http://www.functx.com"/>
</package>
