<div data-template="app:deutsche-biographie">
    <h2 id="top">ADB (Allgemeine Deutsche Biographie)</h2>
    <div data-template="app:deutsche-biographie-text" data-template-type="adb">ADB Text</div>
    <div>
        <p>Der Text unter der Überschrift „ADB“ ist wiedergegeben nach <span data-template="app:deutsche-biographie-disclaimer" data-template-type="adb"/> und steht unter einer <a shape="rect" class="rights" target="_blank" title="Artikel der Neuen Deutschen Biographie unter CC-BY-NC-ND" href="https://creativecommons.org/licenses/by-nc-nd/3.0/de">CC-BY-NC-SA-Lizenz</a>.</p>
    </div>
</div>