<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="biblio">
    <div class="col-md-3 order-2 side-col">
        <h2><a href="#allFilter" class="collapseSingle" aria-expanded="true" data-toggle="collapse"><span data-template="lang:translate">filter</span></a></h2>
        <!-- Facetten Filter-->
        <div class="allFilter panel-collapse collapse show" id="allFilter">
            <h4 data-template="lang:translate">chronology</h4>
            <input type="text" class="rangeSlider" name="chronology-slider" data-template="app:set-slider-range"/>
            <div class="input-group facet-group checkbox">
                <input type="checkbox" name="undated" id="undatedBiblio" data-template="app:set-facet-checkbox" data-template-key="undated"/>
                <label for="undatedBiblio" data-template="lang:translate">showUndatedDocuments</label>
            </div>
            
            <h4 data-template="lang:translate">authors</h4>
            <select multiple="multiple" data-template="facets:select" name="authors"/>
            
            <h4 data-template="lang:translate">editors</h4>
            <select multiple="multiple" data-template="facets:select" name="editors"/>
            
            <!--<h4 data-template="lang:translate">journals</h4>
            <select multiple="multiple" data-template="facets:select" name="journals"/>-->
            
            <h4 data-template="lang:translate">biblioType</h4>
            <select multiple="multiple" data-template="facets:select" name="biblioType"/>
        </div>
    </div>
	<div data-template="templates:include" data-template-path="templates/includes/search-results.html"/>
</div>