<div data-template="app:biblio-basic-data">
    <h2 data-template="lang:translate">biblio-info</h2>
    <p data-template="app-shared:if-exists" data-template-key="note">
        <h3 data-template="lang:translate">gl_notes</h3>
        <p data-template="app-shared:print" data-template-key="note"/>
    </p>
    <h3 data-template="lang:translate">citation</h3>
    <p data-template="app-shared:output" data-template-key="citation">Zitation</p>
    <h3 data-template="lang:translate">furtherBiblio</h3>
    <ul data-template="app:biblio-search" class="ref-list"/>
</div>