<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="biblio">
    <div class="col-md-3 col-md-push-9">
        <!-- Facetten Filter-->
        <div class="allFilter">
            <h2 data-template="lang:translate">filter</h2>
            <h4 data-template="lang:translate">chronology</h4>
            <input type="text" class="rangeSlider" name="chronology-slider" data-template="app:set-slider-range"/>
            <div class="input-group">
                <input type="checkbox" name="undated" id="undatedBiblio" class="undated" data-template="app:set-undated-checkbox"/>
                <label for="undatedBiblio" data-template="lang:translate">showUndatedDocuments</label>
            </div>
            
            <h4 data-template="lang:translate">authors</h4>
            <select multiple="multiple" data-template="facets:select" name="authors"/>
            
            <h4 data-template="lang:translate">editors</h4>
            <select multiple="multiple" data-template="facets:select" name="editors"/>
            
            <!--<h4 data-template="lang:translate">journals</h4>
            <select multiple="multiple" data-template="facets:select" name="journals"/>-->
            
            <h4 data-template="lang:translate">biblioType</h4>
            <select multiple="multiple" data-template="facets:select" name="biblioType"/>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 searchResults" data-template="search:result-page">
        <h2 data-template="search:results-count">124 Suchergebnisse</h2>
        <ul class="pagination" data-template="app:pagination">
            <li><a href="#">&lt;</a></li>
        </ul>
        <ul class="media-list">
            <li class="media" data-template="app:each" data-template-from="result-page-entries" data-template-to="result-page-entry">
                <div data-template="search:dispatch-preview"/>
            </li>
        </ul>
        <ul class="pagination" data-template="app:pagination">
            <li><a href="#">&lt;</a></li>
        </ul>
    </div>
</div>