<div xmlns="http://www.w3.org/1999/xhtml" class="container" data-template="app:thematicCommentary-of-the-week">
    <div data-template="app-shared:if-exists" data-template-key="thematicCommentaryOfTheWeek-title">
        <div data-template="templates:include" data-template-path="templates/includes/index-carousel.html"/>
    </div>
    <div data-template="app-shared:if-not-exists" data-template-key="thematicCommentaryOfTheWeek-title">
        <div data-template="templates:include" data-template-path="templates/includes/wordOfTheDay.html"/>
    </div>
</div>
