<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="contacts">
    <div class="col-md-3 order-2 side-col">
        <h2><a href="#allFilter" class="collapseSingle" aria-expanded="true" data-toggle="collapse"><span data-template="lang:translate">filter</span></a></h2>
        <!-- Facetten Filter-->
        <div class="allFilter panel-collapse collapse show" id="allFilter">
            <!--            <h4 data-template="lang:translate">chronology</h4>-->
            
        	<h4 data-template="lang:translate">surnames</h4>
        	<select multiple="multiple" data-template="facets:select" name="surnames"/>
        	
        	<h4 data-template="lang:translate">forenames</h4>
        	<select multiple="multiple" data-template="facets:select" name="forenames"/>
            
            <h4 data-template="lang:translate">residences</h4>
            <select multiple="multiple" data-template="facets:select" name="residences"/>
            
            <h4 data-template="lang:translate">occupations</h4>
            <select multiple="multiple" data-template="facets:select" name="occupations"/>
            
            <h4 data-template="lang:translate">sex</h4>
            <select multiple="multiple" data-template="facets:select" name="sex"/>
            
            <h4 data-template="lang:translate">docSource</h4>
            <select multiple="multiple" data-template="facets:select" name="docSource"/>
            
            <h4 data-template="lang:translate">docStatus</h4>
            <select multiple="multiple" data-template="facets:select" name="docStatus"/>
            
        </div>
    </div>
	<div data-template="templates:include" data-template-path="templates/includes/search-results.html"/>
</div>