<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="letters">
    <div class="col-md-3 col-md-push-9">
        <!-- Facetten Filter-->
        <div class="allFilter">
            <h2 data-template="lang:translate">filter</h2>
            <h4 data-template="lang:translate">chronology</h4>
            <input type="text" class="rangeSlider" name="chronology-slider" data-from="1813-01-01" data-to="1826-06-30"/>
            <h4 data-template="lang:translate">sender</h4>
            <select multiple="multiple" data-template="facets:select" name="sender"/>
            <h4 data-template="lang:translate">addressees</h4>
            <select multiple="multiple" data-template="facets:select" name="addressee"/>
            <h4 data-template="lang:translate">placeOfSender</h4>
            <select multiple="multiple" data-template="facets:select" name="placeOfSender"/>
            <h4 data-template="lang:translate">placeOfAddressee</h4>
            <select multiple="multiple" data-template="facets:select" name="placeOfAddressee"/>
            <h4 data-template="lang:translate">works</h4>
            <select multiple="multiple" data-template="facets:select" name="works"/>
            <h4 data-template="lang:translate">docStatus</h4>
            <select multiple="multiple" data-template="facets:select" name="docStatus"/>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 textBlock searchResults" data-template="search:result-page">
        <h2 data-template="search:results-count">256 Suchergebnisse</h2>
        <ul class="pagination" data-template="app:pagination">
            <li><a href="#">&lt;</a></li>
        </ul>
        <ul class="media-list">
            <li class="media" data-template="app:each" data-template-from="result-page-entries" data-template-to="result-page-entry">
                <div data-template="search:dispatch-preview"/>
            </li>
        </ul>
    </div>
</div>