<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="letters">
    <div class="col-md-3 order-2 side-col">
        <h2><a href="#allFilter" class="collapseSingle" aria-expanded="true" data-toggle="collapse"><span data-template="lang:translate">filter</span></a></h2>
        <!-- Facetten Filter-->
        <div class="allFilter panel-collapse collapse show" id="allFilter">
            <h4 data-template="lang:translate">chronology</h4>
            <input type="text" class="rangeSlider" name="chronology-slider" data-template="app:set-slider-range"/>
            <div class="input-group facet-group checkbox">
                <input type="checkbox" name="undated" id="undatedLetters" data-template="app:set-facet-checkbox" data-template-key="undated"/>
                <label for="undatedLetters" data-template="lang:translate">showUndatedDocuments</label>
                <br/>
                <input type="checkbox" name="hideRevealed" id="hideRevealed" data-template="app:set-facet-checkbox" data-template-key="hideRevealed"/>
                <label for="hideRevealed" data-template="lang:translate">hideRevealedLetters</label>
            </div>
            <h4 data-template="lang:translate">sender</h4>
            <select multiple="multiple" data-template="facets:select" name="sender"/>
            <h4 data-template="lang:translate">addressees</h4>
            <select multiple="multiple" data-template="facets:select" name="addressee"/>
            <h4 data-template="lang:translate">placeOfSender</h4>
            <select multiple="multiple" data-template="facets:select" name="placeOfSender"/>
            <h4 data-template="lang:translate">placeOfAddressee</h4>
            <select multiple="multiple" data-template="facets:select" name="placeOfAddressee"/>
            <h4 data-template="lang:translate">docType</h4>
            <select multiple="multiple" data-template="facets:select" name="docTypeSubClass"/>
            <h4 data-template="lang:translate">works_mentioned</h4>
            <select multiple="multiple" data-template="facets:select" name="works"/>
            <h4 data-template="lang:translate">repository</h4>
            <select multiple="multiple" data-template="facets:select" name="repository"/>
            <h4 data-template="lang:translate">facsimile</h4>
            <select multiple="multiple" data-template="facets:select" name="facsimile"/>
            <h4 data-template="lang:translate">docLang</h4>
            <select multiple="multiple" data-template="facets:select" name="docLang"/>
            <h4 data-template="lang:translate">docStatus</h4>
            <select multiple="multiple" data-template="facets:select" name="docStatus"/>
        </div>
    </div>
	<div data-template="templates:include" data-template-path="templates/includes/search-results.html"/>
</div>