<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="documents">
    <div class="col-md-3 order-2 side-col">
        <h2><a href="#allFilter" class="collapseSingle" aria-expanded="true" data-toggle="collapse"><span data-template="lang:translate">filter</span></a></h2>
        <!-- Facetten Filter-->
        <div class="allFilter panel-collapse collapse show" id="allFilter">
            <h4 data-template="lang:translate">chronology</h4>
            <input type="text" class="rangeSlider" name="chronology-slider" data-template="app:set-slider-range"/>
            
            <h4 data-template="lang:translate">authors</h4>
            <select multiple="multiple" data-template="facets:select" name="authors"/>
            
            <h4 data-template="lang:translate">persons_mentioned</h4>
            <select multiple="multiple" data-template="facets:select" name="persons"/>
            
            <h4 data-template="lang:translate">works_mentioned</h4>
            <select multiple="multiple" data-template="facets:select" name="works"/>
            
            <h4 data-template="lang:translate">places_mentioned</h4>
            <select multiple="multiple" data-template="facets:select" name="places"/>
            
            <h4 data-template="lang:translate">keywords</h4>
            <select multiple="multiple" data-template="facets:select" name="keywords"/>
            
            <h4 data-template="lang:translate">repository</h4>
            <select multiple="multiple" data-template="facets:select" name="repository"/>
            
            <h4 data-template="lang:translate">facsimile</h4>
            <select multiple="multiple" data-template="facets:select" name="facsimile"/>
            
            <h4 data-template="lang:translate">docLang</h4>
            <select multiple="multiple" data-template="facets:select" name="docLang"/>
            
            <h4 data-template="lang:translate">docStatus</h4>
            <select multiple="multiple" data-template="facets:select" name="docStatus"/>
        </div>
    </div>
	<div data-template="templates:include" data-template-path="templates/includes/search-results.html"/>
</div>