<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="gl:examples">
<!--	<h2 data-template="lang:translate">examples</h2>-->
	<div class="searchResults" data-template="search:result-page">
		<h2 data-template="search:results-count">124 Suchergebnisse</h2>
		<ul class="pagination" data-template="app:pagination">
			<li><a href="#">&lt;</a></li>
		</ul>
		<ul class="media-list">
			<li class="media" data-template="app-shared:each" data-template-from="result-page-entries" data-template-to="result-page-entry">
				<div data-template="gl:preview">
					<div class="portrait preview-icon" data-template="app-shared:if-matches" data-template-key="docType" data-template-value="persons">
						<a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
							<!-- Image will load via AJAX -->
							<i class="fa fa-spinner fa-spin fa-2x"/>
						</a>
					</div>
					<div class="preview-icon" data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="persons">
						<a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
							<img src="$resources/img/icons/icon_letters.png" data-template="app-shared:set-attr" data-template-attr="src" data-template-key="icon-src" class="img-fluid" alt="preview-icon"/>
						</a>
					</div>
					<div class="media-body">
						<h3 class="media-heading"><a data-template="app:preview-title">Carl Maria von Weber für Elise Vigitill [Stammbuchblatt]</a></h3>
						<p><strong><span data-template="lang:translate">identifier</span>:</strong> <span data-template="app-shared:print" data-template-key="docID">A040043</span> <span data-template="app:status" class="docStatus">in Bearbeitung</span></p>
						<div>
							<pre class="prettyprint"><code class="language-xml"><span data-template="app-shared:output" data-template-key="codeSample"><![CDATA[<element xmlns="http://bla.org"><foo>some text</foo></element>]]></span></code></pre>
						</div>
					</div>
					<!--<div data-template="app-shared:print" data-template-key="docID"></div>-->
				</div>
			</li>
		</ul>
		<ul class="pagination" data-template="app:pagination">
			<li><a href="#">&lt;</a></li>
		</ul>
	</div>
	<script type="text/javascript">
		prettyPrint();
	</script>
</div>