<div class="container" data-template="app:lookup-todays-events">
    <!-- Container for "What happened on this day"   -->
    <!-- on the main index page -->
    <div class="row paddingTopIcon">
        <div class="col-12 ">
            <h2 data-template="app:print-events-title">Was geschah am 9. April?</h2>
        </div>
    </div>
    <div class="row paddingBottomIcon history">
        <div class="col-sm-6">
            <p data-template="app-shared:each" data-template-from="events1" data-template-to="event">
                <span data-template="app:print-event"/>
            </p>
        </div>
        <div class="col-sm-6">
            <p data-template="app-shared:each" data-template-from="events2" data-template-to="event">
                <span data-template="app:print-event"/>
            </p>
        </div>
    </div>
</div>