<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="sources">
    <div class="col-md-3 order-2 side-col">
        <h2><a href="#allFilter" class="collapseSingle" aria-expanded="true" data-toggle="collapse"><span data-template="lang:translate">filter</span></a></h2>
        <!-- Facetten Filter-->
        <div class="allFilter panel-collapse collapse show" id="allFilter">
            <h4 data-template="lang:translate">chronology</h4>
            <input type="text" class="rangeSlider" name="chronology-slider" data-template="app:set-slider-range"/>
            
            <h4 data-template="lang:translate">sources-meta-cat</h4>
            <select multiple="multiple" data-template="facets:select" name="sources-meta-cat"/>
            
            <h4 data-template="lang:translate">sources-details-cat</h4>
            <select multiple="multiple" data-template="facets:select" name="sources-details-cat"/>
            
            <h4 data-template="lang:translate">pubPlace</h4>
            <select multiple="multiple" data-template="facets:select" name="pubPlace"/>
            
            <!--<h4 data-template="lang:translate">dedicatees</h4>
            <select multiple="multiple" data-template="facets:select" name="dedicatees"/>-->
            
        </div>
    </div>
    <div data-template="templates:include" data-template-path="templates/includes/search-results.html"/>
</div>