<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="works">
    <div class="col-md-3 order-2 side-col">
        <h2><a href="#allFilter" class="collapseSingle" aria-expanded="true" data-toggle="collapse"><span data-template="lang:translate">filter</span></a></h2>
        <!-- Facetten Filter-->
        <div class="allFilter panel-collapse collapse show" id="allFilter">
<!--            <h4 data-template="lang:translate">chronology</h4>-->
            
            <h4 data-template="lang:translate">composers</h4>
            <select multiple="multiple" data-template="facets:select" name="composers"/>
            
            <h4 data-template="lang:translate">librettists</h4>
            <select multiple="multiple" data-template="facets:select" name="librettists"/>
            
            <h4 data-template="lang:translate">lyricists</h4>
            <select multiple="multiple" data-template="facets:select" name="lyricists"/>
            
            <h4 data-template="lang:translate">dedicatees</h4>
            <select multiple="multiple" data-template="facets:select" name="dedicatees"/>
            
            <div data-template="app-shared:if-matches" data-template-key="docID" data-template-value="A002068" data-template-wrap="no">
                <h4 data-template="lang:translate">series</h4>
                <select multiple="multiple" data-template="facets:select" name="series"/>
            </div>
            
        </div>
    </div>
	<div data-template="templates:include" data-template-path="templates/includes/search-results.html"/>
</div>