<div xmlns="http://www.w3.org/1999/xhtml" class="row" data-template="search:results" data-template-docType="writings">
    <div class="col-md-3 col-md-push-9">
        <!-- Facetten Filter-->
    </div>
    <div class="col-md-9 col-md-pull-3 searchResults" data-template="search:result-page"
        data-template-docType="writings">
        <h2 data-template="search:results-count">124 Suchergebnisse</h2>
        <ul class="media-list">
            <li class="media" data-template="app:each" data-template-from="result-page-entries"
                data-template-to="result-page-entry">
                <div data-template="search:dispatch-preview"/>
            </li>
        </ul>
    </div>
</div>
