<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:line-wrap">
    <h2 data-template="lang:translate">XML-Preview</h2>
    <div class="custom-control custom-switch line-wrap-toggle">
        <input class="custom-control-input" type="checkbox" id="linewrap-switch" checked="checked"/>
        <label class="custom-control-label" for="linewrap-switch"><span data-template="lang:translate">linewrap</span> </label>
    </div>
    <pre class="prettyprint" data-template="app:set-line-wrap"><code class="language-xml" data-template="app:xml-prettify"><![CDATA[<element xmlns="http://bla.org"><foo>some text</foo></element>]]></code></pre>
    <script type="text/javascript">
        prettyPrint();
        init_line_wrap_toggle();
    </script>
</div>