.navbar {
    padding-bottom: 0;
    .nav-link {
        padding-bottom: 0;
    }
    }
    
.divider {
    margin: 23px;
}    

.dropdown-toggle::after {
    border: none;
    margin-left: 0;
}

.preview-icon {
    margin-right: 1em;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: $link-color;
    content: "\f054\00a0"
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.btn {
    border-radius:0;
}

.btn-group {
    display: block;
}

.btn input {
    display:none;
}

.media-list {
    padding-left: 20px;
}

.media {
    display:block;
    align-items:unset;
}

.media>div:not([class]) {
    display: flex;
    align-items: flex-start;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.popover-body {
    padding: 0;
    color: $gray;
}

.hidden {
    display: none;
}

li.resp-tab-item {
  margin: 0px 0px -4px 3px!important;  
}

li.resp-tab-active {
    border-bottom: 3px solid #F0F0F0!important;
}

.selectize-dropdown-content {
    padding: 5px;
}

.selectize-control.multi .selectize-input > div {
    margin: 0;
    top: 2px;
}

.input-group.searchform {
    flex-wrap: nowrap;
}

.fade.in {
    opacity:1;
}

.selectize-dropdown-content {
    padding: 4px;
}