.navbar {
    padding-bottom: 0;
    .nav-link {
        padding-bottom: 0;
    }
    }
    
.divider {
    margin: 23px;
}    

.dropdown-toggle::after {
    border: none;
    margin-left: 0;
}

.preview-icon {
    margin-right: 1em;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.btn {
    border-radius:0;
}

.btn-group {
    display: block;
}

.btn input {
    display:none;
}

.media-list {
    padding-left: 20px;
}

.media {
    display:block;
    align-items:unset;
}

/*.media>div:not([class]) {
    display: flex;
    align-items: flex-start;
}*/

.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.popover.show {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius:0px;
}

.popover-body {
    padding: 0!important;
    color: $gray;
}

.hidden {
    display: none;
}

li.resp-tab-item {
  margin: 0px 0px -4px 3px!important;  
}

li.resp-tab-active {
    border-bottom: 3px solid #F0F0F0!important;
    border-top: 4px solid $gray;
}

 resp-tab-active

.selectize-dropdown-content {
    padding: 8px;
}

.selectize-input {
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius:0px!important;
}


.selectize-control.multi .selectize-input > div {
    margin: 0;
    top: 2px;
}

.input-group.searchform, .searchform .input-group {
    flex-wrap: nowrap;
}

.input-group.facet-group {
    display:block;
}

.fade.in {
    opacity:1;
}

.selectize-dropdown-content {
    padding: 0px!important;
}

.selectize-dropdown-content div {
    padding: 8px;
}

.breadcrumb > li:not(:first-child) >  {
    *:first-child:before {
        padding: 0 8px;        
        content: "\f054\00a0";
        font-family: "FontAwesome";
        font-size:smaller;
    }
    > a:before {
        color: $link-color;
    }
    > span:before {
        color:$gray-light;
    }
}

.popover.show .arrow::after {
    border-with:0.5rem 0.5rem 0.5rem 0;
}

.ui-datepicker .ui-state.active {
   background: #999;
}

div.toc-side  {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
}

.media-body {
    display: table-cell;
}

nav.greedy ul.links li {
    padding: 10px 25px;
}

/* restyling buttons */

.nav-item.gradient-light, label.gradient-light {
    margin:0;
    border:0!important;
    box-shadow:none;
}

li.nav-item.gradient-light > .active,  .gradient-light.active {
    color: $primary;
    border-left:4px solid $primary!important;;
}

li.nav-item.gradient-light > .nav-link {
    border-left:4px solid $gray-lighter;
}

.gradient-light:hover {
    background-color:$gray-lighter!important;
}

/* navigation styling */

.navbar-nav ul.dropdown-menu li {
    border: none;
    border-left: 4px solid $gray-lighter;
    box-shadow: 0 2px 2px 0 $gray;
}

.navbar-nav ul.dropdown-menu li:hover {
    border-left: 4px solid $primary;
}

.navbar-nav ul.dropdown-menu li a {
    color: rgba(0, 0, 0, 0.6)!important;
    font-size: smaller!important;
}

.navbar-nav ul.dropdown-menu li a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/* hover open */
.nav-item.dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar-light.navbar {
    border-bottom: 4px solid $gray-lighter;
}

#navbarCollapse .navbar-nav {
    margin-bottom: -5px;
}

#navbarCollapse .navbar-nav ul.dropdown-menu {
    top: 94%;
}

/* filter */

.searchDocTypeFilter .btn.active:before {
    content: "\f14a\00a0";
    font-family: "FontAwesome";
    vertical-align: text-top;
    margin-right:10px;
    color: #0064b4;
}

.searchDocTypeFilter .btn:before {
    content: "\f096\00a0";
    font-family: "FontAwesome";
    vertical-align: text-top;
    margin-right:11px;
    color: #0064b4;
}

.searchDocTypeFilter .btn.active {
    background:#f0f0f0;
}

/* navigation breakpoint additions */

@include media-breakpoint-down(lg)
{
        #navbarCollapse {
            .divider {
                margin: 23px 4px 23px 4px;
            }
            a.nav-link {
                font-size:1rem!important;
            }
        }

        .brand {
            margin-top: 29px;
            margin-bottom: 0px;
            width: 200px;;
        }

        .navbar.navbar-default {
            margin-top: 0px;
        }
}

@include media-breakpoint-down(md)
{
    #navbarCollapse {
        a.nav-link {
            font-size:0.9rem!important;
        }
    }
    .brand {
       width: 180px;
    }
}

@include media-breakpoint-down(sm)
{
    .brand {
       width: 240px;
       margin-top: 0px;
       max-width: 100%;
    }
}

/* workaround for ajax includes */

.col-xs-12 {
  flex:  0 0 100%;
  max-width:100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* input restyling */
.input-group.facet-group.checkbox {
    margin: 8px 0 8px 0;
}

.checkbox input[type="checkbox"] {
    opacity: 0; //hide element visually (not for screen readers)
    position: absolute; //move it out of the way
    top: -50px;
    left: -50px;
}

.checkbox label {
    margin-top: -24px;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.checkbox input[type="checkbox"] + label::before {
    content: "\f096\00a0";
    font-family: "FontAwesome";
    margin-right:11px;
    color: #0064b4;
}

.checkbox input[type="checkbox"]:checked + label::before {
    content: "\f14a\00a0";
    font-family: "FontAwesome";
    margin-right:10px;
    color: #0064b4;
}

/* irs styling */
span.irs span {
    border-radius: 0!important;
}

/* abstract restyling */
.abstract {
    border-left: 4px solid lighten($primary,10%);
    background-color: $gray-lighter;
    margin: 2em 0;
}