#exploreCorrespSearch {
    display:block;
    margin-bottom:30px;
}

.popover.fade.show {
    max-width:300px;    
    font-family: unset;
    font-size:1em;
    opacity:1;
    
   table {
        font-size:unset;    
   }
   
   table.b-table > thead > tr > th.sorting {
        padding-right: 2em;
   }
   
   .fade.show {
        opacity:1;   
   }
   
   .popover-body {
        max-height:400px;
        overflow-y:auto;    
        padding:4px;
    }       
    
    .popover-header:empty {
        display:none; 
    }    
    
    .nav {
        margin:4px 0 4px 0;
    }
    
    .nav-tabs li {
        width: unset;
    }
    
    .nav-item .nav-link.active {
        background:$primary;
        color:white;
    }   
    
    .tab-content {
        font-size:smaller;
    }
    
    hr {
        margin: 4px 0 4px 0;
    }
    
/*    .arrow {
        border-width: 0px;
    }
    
    .arrow::after {
        border-width: 0 .5rem .5rem;
        border-bottom-color: #fff;
    }   */

}