.btn
{
     padding: 9px 20px;
     &:hover { 
        background-color: #018eff;
        border-color: #018eff;
     }
}

.btn-group .btn
{
    color: $gray!important;
    font-size: 16px!important;
    line-height: 19px!important;
    padding: 14px 20px;
    font-family: $font-family-sans-serif-bold!important;
    margin-left: 0px!important ;
    text-align: left;
}

.btn-group .btn input
{
    color: $gray!important;
    font-size: 16px!important;
    line-height: 19px!important;
}

.btn-group.primary .btn.gradient-light.active
{
    background-color: $primary!important;
    color: #fff!important;
}