#exploreCorrespSearch {
    display:block;
    margin-bottom:30px;
    &.noLink {
        display: none;
    }
}

.popover[id*='bv_popover_3'] {
   table {
        font-size:unset;
   }
   
   table.b-table > thead > tr > th.sorting {
        padding-right: 2em;
   }
   
    
    .tab-content {
        padding: 0.5rem 0.75rem;
    }
    
    .popover-header:empty {
        display:none; 
    }
    
    .nav {
        flex-wrap:nowrap;
        background-color: #F5F5F5;
    }
    
    .nav-tabs li {
        width: unset;
    }
    
    .nav-tabs {
        border: 0;
        .nav-item {
            padding: 0 8px;
            a {
                padding: 8px;
                font-size:larger;
                color:gray;
                &.active {
                    border-bottom: 4px solid #0064bb;
                    background-color: #F5F5F5;
                }
            }
        }
    }
    
    hr {
        margin: 4px 0 4px 0;
    }
}
