ol.media 
{
    margin: 0px!important;
}

ol.media li.media
{
    margin: 0px;
    list-style: none;
}

.media-list {
    padding-left: 20px;
}

ul.media-list {
    margin-left: 0px;
}

.media {
    display:block;
    align-items:unset;
}

/*.media>div:not([class]) {
    display: flex;
    align-items: flex-start;
}*/

.media-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.media-body {
    display: table-cell;
}

li.media div.pull-left {
   width: 26px;
   text-align:center;
}