/*
 * styling for modals, i.e. XML download options
 */

.card-title {
    margin-bottom: 0;
}

.modal-body .fa-download {
    padding-left:.5em;
}

.spinner {
    color:$primary;
}

.caret
{
    display:none;
}

#toc ul {
   list-style: none;
   font-family: $font-family-sans-serif;
}

.toc ul li {
    padding-bottom: 4px;
}

/*
 * background for the openseadragon viewer container
 */
#map {
    background-color:$gray-lighter;
}

.piwik-opt-out iframe {
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: scroll;
}

input.form-control
{
  padding: 10px 14px;
  height:50px;
  width: 100%!important;
}

