.shadetabs{
padding: 3px 0 3px 1em;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font-size: 1.1em;
font-weight: bold;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
position: relative;
top: 3px;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 0.2em 7px;
margin-right: 3px;
border: 2px solid #aaaaaa;
color: #2d2b2b;
background: white url(../pix/shade.gif) top left repeat-x;
}

.shadetabs li span{
cursor: pointer;
background: white url(../pix/shade.gif) top left repeat-x;
text-decoration: none;
position: relative;
z-index: 1;
padding: 0.2em 7px;
margin-right: 3px;
border: 2px solid #aaaaaa;
color: #2d2b2b;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover, .shadetabs li span:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
/*top: 1px;*/
}

.shadetabs li a.selected, .shadetabs li span.selected { /*selected main tab style */
background-image: url(../pix/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover, .shadetabs li span.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.shadetabs span.notAvailable {
    color: #aaaaaa;
    cursor: default;
    font-style: normal;
    line-height: normal;
    font-size: 1em;
}

.shadetabs span.notAvailable:hover {
    text-decoration: none;
    color: #aaaaaa;
}