#main {
    min-height: 500px;
}

#contentLeft > div, #contentRight > div, #contentRight > input {
    margin: 0em 0em 1em 0 ;
    border: 3px solid #aaaaaa;
}

#contentRight > div, #contentLeft > div {
    padding: 0em 1em 1pc 1em;
}

#contentLeft, #contentRight {
    float: left;
    display: inline;
    margin: 1em 1%;
}

#contentLeft {
    width: 65%;
}

#contentLeft h1 {
    font-size: 1.5em;
}

#contentRight {
    width: 31%;
}

#contentRight ul{
    padding: 0em 1em 0em 2em;
    margin: 0em;
}

h1 {
    font-size: 1.3em;
    margin: 0.5em 0em;
    padding: 0em;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    margin: 0.5em 0em;
    padding: 0em;
    font-weight: bold;
}

p {
    margin: 0.5em 0em;
    padding: 0em;
    text-align: justify;
}

.newsTeaserDate {
    float: right;
    display: block;
    margin: 0pc 0.5em;
    font-size: 0.8em;
    color: #606060;
}

.readOn {
    font-size: 0.8em;
    color: #606060;
    display: inline;
}

.teaserImage {
    float:left;
    margin: 0.4pc 1em;
    padding: 0.3em;
    border: 1px solid #606060;
}

.news-teaser-break {
    width: 80%;
    height: 3px;
    color: #AAA;
    background-color: #AAA;
    border: none;
    margin: 1pc auto;
}