#contentLeft > div, #contentRight > div {
    margin: 1pc 0;
    border: 2px solid #aaaaaa;
}

#contentRight > div {
    padding: 0 1em;
}

#contentLeft, #contentRight {
    float: left;
    display: inline;
}

#contentLeft > ul {
    margin-top: 1em;
}

#contentLeft {
    width: 76%;
}

#contentRight {
    width: 22%;
    margin-left: 2%;
}

h1 {
    margin: 0.5pc 0em;
    padding: 0em;
    font-weight: bold;
    font-size: 1.6em;
    font-stretch: normal;
    line-height:2pc;
    text-align: left;
}

h2 {
    margin: 1pc 0em;
    padding: 0em;
    font-weight: bold;
    font-size: 1.4em;
    font-stretch: normal;
    text-align: left;
}

h3 {
    margin: 0.3em 0em;
    padding: 0em;
    font-weight: bold;
    font-size: 1.2em;
    font-stretch: normal;
    text-align: left;
}

h4 {
    margin: 0.3em 0em;
    padding: 0em;
    font-weight: bold;
    font-size: 1em;
    font-stretch: normal;
    text-align: left;
}

#contentLeft p {
    margin: 0.5pc 0em;
    padding: 0pc;
}

#contentRight p, #contentRight ul, .nameList ul {
    margin: 0em 0em 1pc 0em;
    padding: 0em;
}

#contentRight ul, .nameList ul {
    list-style: none;
}

#contentRight ul li, .nameList ul li {
    display: block;
    text-indent: -2em;
    padding: 0em 0em 0em 2em;
    margin: 0em;
}

.nameList ul {
    cursor: pointer;
}

.headWithToggleMarker {
    float: left;
}

.toggleMarker {
    float: right;
    margin: 1pc 1em;
}

.toggleMarker:hover {
    cursor: pointer;
    text-decoration: underline;
}

ol.toggleMarkerList {
    float: right;
    padding: 0em;
    margin: 0.2pc 1em;
}

ol.toggleMarkerList li {
    display: inline;
    margin: 0 0 0 0.5em;
    padding: 0em;
}

ol.toggleMarkerList li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ************************ */
/*      News SingleView     */
/* ************************ */

div#newsFrame, div#docFrame {
/*    text-align: justify;*/
    padding: 1em 1em;
    margin:0em;
}

.authorDate {
    text-align: right;
}

div#newsText, div#docText {
    text-align: justify;
/*    padding: 0em 1em;*/
}

/* ************************ */
/*   varDocs SingleView     */
/* ************************ */

#toc ul {
    list-style:none;
}

div.collapseBlock {
    margin: 0 1em;
    padding: 0.2pc 0.5em;
    border: 1px solid #aaaaaa;
}

.toggleBlock {
    display: block;
    top: -2pc;
    position: relative;
    float: right;
    margin-left: 0.5em;
}

table, th, td {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: 700;
}