/*div#tabs {
    border:none;
}*/

div#letterFrame {
    padding: 1pc 1em;
    margin: 0em;
}

#letterList img {
    margin: auto;
    width: 100%;
}

#letterFrame > h1, #personMetaData h1 {
    font-size: 1.3em;
    font-variant:small-caps;
    font-weight:normal;
    line-height: 1.1pc;
    color: #606060;
    margin: 0em;
    padding-bottom: 0.3pc;
}

#letterFrame > h2 {
    font-size: 1.3em;
    line-height: 1.1pc;
    color: #606060;
    margin: 0em 0em 0.3pc 0em;
    font-variant:small-caps;
    font-weight:normal;
}

.writingSession h2 {
    text-align: center;
}

#letterFrame > h3 {
    font-size: 1.1em;
    line-height: 1pc;
/*    color: #606060;*/
    font-variant:small-caps;
    font-weight:normal;
}

#letterFrame p, #personMetaData p {
    font-size: 1pc;
    padding: 0.2em;
    margin: 0em;
}

#teiLetter_body {
    text-align: justify;
    font-family: Garamond, "Times New Roman", times, serif;
    font-size: 12pt;
    padding-bottom: 1em;
    border-top: 1px solid #AAAAAA;
}

#teiLetter_body > div {
    margin: 1pc 0em;
}

#teiLetter_body p {
    padding: 0em;
}

.teiLetter_address {
    text-align: left;
}

/*.teiLetter_address p {
    padding: 0.1em;
    margin: 0em;
}*/

.teiLetter_datelineOpenerBlockRight {
    text-align: right;
    display: block;
}

.teiLetter_datelineOpenerBlockLeft {
    text-align: left;
    display: block;
}

.teiLetter_datelineOpenerInline {
    display: inline;
}

.teiLetter_datelineCloser {
/*    text-align: left;*/
    display: block;
}

.teiLetter_salute {
    margin: 0.5pc 0em;
}

.teiLetter_onclick {
    cursor: pointer;
    font-size: 1.2em;
    font-variant:small-caps;
}

.teiLetter_closer {
/* nothing to do */
}

#teiLetter_back {
    font-size: 0.9em;
}

.teiLetter_addEditor {
    color: #606060;
}

/*.teiLetter_noteDefinitionMark {
    vertical-align: super;
	font-size: smaller;
	line-height: 0em;
	background-color:#F0F2EC;
	border: solid 1px #CCCCCC;
	padding: 1px 3px 1px 3px;
}*/

.teiLetter_lem {
    background-color:#F0F2EC;
	border: solid 1px #CCCCCC;
}

.teiLetter_bibl {}

/*.teiLetter_supplied {
    color: #606060 !important;
}*/

.highlighted {
    background-color: #ffff66;
}

p.inlineParagraph {
    display: inline;
}

/*p.inlineParagraph:after {
    content: " ";
    display: block;
/\*    display: inline-block;*\/
}*/

p.blockParagraph {
    display: block;
}

p.indented:before {
    content:"";
    margin-left: 1em;
}

p.noIndent {
    text-indent: 0em;
}

.teiLetter_opener {
    display: inline;
}

/* Wird in layout76-22.css geregelt */
/*table {
    text-align:left;
    padding: 0em 1em;
}

table td {
    padding: 0.5pc 0.5em; 
}
*/

.digilibMenu {
/*    float: right;*/
    z-index: 3;
    position: absolute;
    margin-left: 610px;
}

#picContainer, #picHandler {
    overflow: hidden;
    height: 700px;
    width: 700px;
}

#picContainer, #picContainer img {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#picHandler {
    z-index: 2;
    position: relative;
    cursor: pointer;
}