#contentLeft > div, #contentRight > div {
    margin: 1em 0 ;
    border: 2px solid #aaaaaa;
}

#contentRight > div {
    padding: 0 1em;
}

#contentLeft, #contentRight {
    float: left;
    display: inline;
}

#contentLeft {
    width: 64%;
}

#contentRight {
    width: 34%;
    margin-left: 2%;
}

h2 {
    margin: 0.6em 0em;
    font-weight: bold;
    font-size: 1.4em;
    font-stretch: normal;
}

h1 {
    margin: 0.5em 0em;
    font-weight: bold;
    font-size: 2em;
    font-stretch: normal;
}

#personSummary {
    padding: 0.5em;
    min-height: 145px;
}

#personSummary div > div {
    margin: 0em 1em 0em 20%;
}

#personSummary div img {
    float: left;
}

div#personDetails {
    padding: 1em;
    margin-top: 0em;
}

#personDetails p {
    margin: 0.5em 0em;
}

#contacts img, #family img, #iconography img {
    width: 40px;
    padding: 0px 3px 6px 3px;
}

div#personTabs {
    clear: both;
    border:none;
}

.desc {
    font-weight: bold;
    margin-right: 0.6em;
}

#dnbFrame > ul {
    list-style: none;
    margin: 0em;
    padding: 0em;
}

#wikipediaFrame p {
    text-align: justify;
}

.wikipediaOrigin {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    color: gray;
}


.linkAppendix {
    font-style: italic;
    font-size: 0.8em;
    padding-top: 2pc;
}

.wikilink, .externalLink, .internalLink {
    text-decoration: none;
}

.wikiredlink {
    text-decoration: none;
    color: #CC2200;
}

.reference {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0.7em;
}

#backlinkFrame h2 {
    font-size: 0.9em;
    margin: 1em 0em 0em 0em;
    padding: 0em;
}

span.hi {
    background-color: yellow;
}
