#main {
    text-align: center;
    min-height: 500px;
}

.side-orders {
    line-height: 0.8em;
    font-size: 0.8em;
    vertical-align: text-top;
    width: 10%;
    text-decoration: none;
    color: #02176F;
    background-color:transparent !important;
    cursor:pointer;
}

.side-orders:hover {
    text-decoration: underline;
}

.search-input, .selectRowInput {
    font-size: 17px;
    vertical-align: bottom;
    font-stretch: normal;
    font-style: normal;
    padding-left: 0.2em;
    margin: 0em 0.5em;
}

.search-input {
/* Wieder einfügen, wenn Advanced Search angezeigt wird*/
/*    margin-left: 10%;*/
    border: 2px solid #aaaaaa;
}

.selectRow {
    display: block;
    margin: 0.5em 0;
}

.selectRowSelect {
    vertical-align: text-bottom;
}

.selectRow img {
    width: 28px;
    height: 28px;
    vertical-align: bottom;
}

#advancedSearchFields {
    margin-left: 160px;
    text-align: left;
}

#searchOptions {
    margin:20px 0;
}

#searchOptions label, #searchOptions span {
    margin: 0pc 0.6em 0pc 0.2em;
    padding: 0em;
}

.search-button {
    margin: 1em auto;
}

form {
    width: 99%;
    margin-top: 50px;
}

form div {
    margin: 0 auto;
}

.searchResults {
    text-align: left;
    padding: 1em 0em;
    float: left;
    width: 100%;
}

#searchResultsHeader, #searchResultsFooter {
    border-top: 1px solid #CCCCCC;
    background-color: #E6E6E6;
    padding: 0.4em;
    margin-bottom: 1em;
    float: left;
    width: 99%;
}

#numberOfSearchResults {
    display: block;
    /*width: 50%;*/
    margin: 1pc 0em;
    text-align: center;
    font-size: 1.1pc;
}

.numberOfSearchResultsText {
    margin-left: 0.5em;
}

/* ***************************** */
/*      Suchergebnisse           */
/* ***************************** */

.searchResultEntry {
    margin: 0.5em 0em;
    border:  2px solid #aaaaaa;
/*    padding: 0.5em;*/
    float: left;
    width: 100%;
    background-image: url(../pix/1px.gif);
    background-position: 43%;
    background-repeat: repeat-y;
}

.kwicResult {
    padding: 0.5em 0em;
    float: left;
    width: 55%;
}

.kwicResult p {
    margin: 0.5em 0em;
    padding: 0em 1em;
    line-height: 1em;
}

/* ********************************* */
/* Einträge für Werke (temporär)     */
/* ********************************* */

#ajaxMainFrame div.item.works {
    cursor: default;
}

/* ********************************* */
/* Einträge für Bibliographie        */
/* ********************************* */

#ajaxMainFrame div.item.biblio {
    cursor: default;
}

#ajaxMainFrame div.item.biblio.detail {
    cursor: pointer;
}

#ajaxMainFrame div.item.biblio span.noDataFound, #ajaxMainFrame div.item.biblio span.person {
    font-weight: 600;
    font-style: normal;
}

#ajaxMainFrame div.item.biblio span.title {
    font-style: italic;
}

.readOn {
    font-size: 0.8em;
    color: #606060;
    text-align: right;
}

/* ****************************** */
/*      Suchergebnisse: Metadaten */
/* ****************************** */
#ajaxMainFrame div.item {
/*    border: 2px solid #AAA;*/
    float: left;
    padding: 0.5em 0em;
    width: 43%;
/*    margin: 1em;*/
    cursor: pointer;
}

#ajaxMainFrame div.item div.left {
    width: 70px;
    float: left;
    padding: 0pc 0.5em;
    text-align: center;
    font-size: 85%;
    color: #606060;
    line-height: 1pc;
}

#ajaxMainFrame div.item div.right {
    margin-left: 80px;
    padding: 0em 1em;
}

#ajaxMainFrame div.item p {
    margin: 0.2em 0em;
    padding: 0em;
    line-height: 1pc;
}

#ajaxMainFrame div.item h1 {
    line-height: 1.1pc;
    font-size: 1.2em;
    margin: 0.2em 0em;
    font-weight: bold;
}

#ajaxMainFrame div.item h2 {
    line-height: 1.1pc;
    font-size: 1.1em;
    margin: 0.2em 0em;
    font-weight: bold;
}

.hi {
    background-color: yellow;
}

div#overlay {
    top: 0;
    width: 100%;
    opacity: 0.8;
    background-color:#000000;
    left:0;
    position:absolute;
    z-index:90;
}

div#overlaySpinningWheelContainer {
    top: -200px;
    /*position: absolute;*/
    width: 100%;
    text-align: center;
}

#overlaySpinningWheelContainer img {
    /*margin-top: 50%;*/
    width: 70px;
}

.score {
    display: block;
}

/* ************ */
/* contentLeft  */
/* ************ *

#contentLeft {
    width: 18%;
    margin: -0.9em 0em;
    float:left;
}

#contentLeft > div {
    border: 2px solid #aaaaaa;
    padding: 0.3pc 0.9em;
    margin: 1em 0em;
}

#contentLeft p, #contentLeft ul, #ajaxMainFrame ul {
    margin: 0em 0em 0.3pc 0em;
    padding: 0em;
}

#contentLeft ul, #ajaxMainFrame ul {
    list-style: none;
}

#contentLeft ul li {
/*    display: block; * /
    text-indent: -2em;
    padding: 0em 0em 0em 2em;
    margin: 0em;
    line-height:1.2pc;
}
*/