.tei_hiLatin {
    font-style: italic;
}

.tei_hiUnderline1 {
/*    border-bottom: 1px solid black;*/
    background-image: url(../pix/underline1.gif);
    background-position: center bottom;
    background-repeat: repeat-x;
}

.tei_hiUnderline2andMore {
    background-image: url(../pix/underline2.gif);
    background-position: center bottom;
    background-repeat: repeat-x;
/*    border-bottom: 2px solid black;*/
}

.tei_hiItalic, .tei_hiAntiqua {
    font-style: italic;
}

.tei_hiBold {
    font-weight: bold;
}

.tei_hiSpacedOut {
    letter-spacing: 0.15em;
}

.tei_hiSuperscript {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0.7em;
}

.tei_hiSubscript {
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0.7em;
}

.tei_hiSmallCaps {
    font-variant: small-caps;
}

.tei_hiTypewriter {
    font-family: monospace;
    font-size: 1.2em;
}

.tei_del {
    text-decoration:line-through;
}

.tei_delOverwritten {
    text-decoration:line-through;
}

.tei_supplied, .tei_pb, .tei_cb {
    color: #606060;
}

.tei_pb_block, .tei_cb_block {
    float:left;
    display:block;
}

/* Überflüssig, wird durch den Link geregelt
.person, .persons {
    color: #02176F;
    cursor: pointer;
}*/

.tei_cssUndefined {
    border: 1px solid red;
    color: red;
    display:block;
}

/*                                              */
/* Einstellungen für JavaScript ToolTips etc.   */
/*                                              */
.toolTip {
    margin: auto;
    width: 240px;
    text-align: center;
}

.toolTip div.left img {
    width: 40px;
    height: 53px;
    float:left;
}

.toolTip div.right {
    margin-left: 45px;
    width: auto;
    text-align: left;
}

.toolTip div.right h1 {
    margin: 0.1em 0;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    font-stretch: normal;
    text-align: left;
}

.toolTip div.right h2 {
    margin: 0.2em 0;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: bold;
    font-stretch: normal;
    text-align: left;
}

.toolTip div.right p {
    margin: 0.5em 0;
    font-size: 1em;
    line-height: 1em;
    text-align: left;
}

.toolTip span.IDunderIcon, .toolTip div.left br {
    display:none;
}

.highlighted {
    background-color: #ffff66;
}

/* Unsichere Daten und Orte */
.cert_medium, .cert_low, .cert_unknown {
    color: gray;
}

.cert_medium:after, .cert_low:after, .cert_unknown:after{
    content:" ?"; /* ACHTUNG: hier &thinsp; ist aber im Editor nicht zu erkennen */
    color: gray;
}

.teiLetter_noteDefinitionMark {
    vertical-align: super;
	font-size: smaller;
	line-height: 0em;
	background-color:#F0F2EC;
	border: solid 1px #CCCCCC;
	padding: 0px 3px;
	cursor: help;
}

div.poem {
   margin: 0.5pc 0em 0.5pc 30%; 
}

div.poem h2 {
    text-align: center;
    margin-left: -30%;
    font-size: 1.2em;
}

div.poem h3 {
    text-align: left;
    font-size: 1em;
}

div.lg {
    margin-bottom: 0.5pc !important;
}

.verseLine {
    display: block;
}

/* Wird automatisch von ws_tooltip.js versteckt */
.teiLetter_noteInline, .teiLetter_rsPersonsInline {
    display:none;
}

.work {
    color: #02176F;
}

.work:hover {
    cursor: help;
}

.code {
    font-family:courier, fixed, monospace;
}

.eg {
    display: block;
    font-family:courier, fixed, monospace;
    width: 90%;
    margin: auto;
    text-align: left;
    white-space:pre-wrap;
}

.listLabel {
    display: none;
}

li.listTitle {
    list-style: none;
    font-size: 1.2em;
    font-weight: 600;
}

li.listSubTitle {
    list-style: none;
    font-size: 1em;
    font-weight: 600;
}

.tei_simpleList {
	list-style-type: none;
}

.tei_segRight {
/*    float: right;*/
    text-align: right;
    display: block;
/*    width:99%;*/
}

.tei_segCenter {
    text-align: center;
    display: block;
}
