#contentLeft, #container, #teiLetter_body, #letterFrame {
    width: 100% !important;
    float:none !important;
    display:block !important;
    margin: 0em !important;
    padding: 0em !important;
}

.writingSession {
    line-height: 3.6em;
    font-size: 1.5em;
}

#contentRight, #breadCrumb, #tabs {
    display: none !important;
/*    float:none !important;*/
}


#letterFrame {
    border: none !important;
/*    float:none !important;*/
}

#headContainer, #footer {
    display: none !important;
/*    float:none !important;*/
}
