#main {
    min-height: 250px;
}

#contentLeft, #contentRight {
    float: left;
    display: inline;
}

#contentLeft {
    width: 22%;
}

#contentRight {
    width: 76%;
    margin-left: 2%;
}

#contentLeft > div {
    border: 2px solid #aaaaaa;
    padding: 0.3pc 0.9em;
    margin: 1pc 0em;
}

#ajaxMainFrame {
    padding: 0pc 0.5em;
    border: 2px solid #aaaaaa;
}

h2 {
    margin: 0.5pc 0em 0.2pc 0em;
    font-weight: bold;
    font-size: 1.4em;
}

h1 {
    margin: 0.5em 0em;
    font-weight: bold;
    font-size: 2em;
}

#contentLeft p, #contentLeft ul, #ajaxMainFrame ul {
    margin: 0em 0em 0.3pc 0em;
    padding: 0em;
}

#contentLeft ul, #ajaxMainFrame ul {
    list-style: none;
}

#contentLeft ul li {
/*    display: block;*/
    text-indent: -2em;
    padding: 0em 0em 0em 2em;
    margin: 0em;
    line-height:1.2pc;
}

/* ********************************* */
/*          Facets-Menu              */
/* ********************************* */

.collapsed {
	list-style-image: url(../pix/plus10x10.png);
}

.expanded {
	list-style-image: url(../pix/minus10x10.png);
}

#chronoAlphaList > div > ul {
	margin-left: 1.3em;
}

#chronoAlphaList li {
	text-indent: 0px;
}

.checkItem {
    cursor: pointer;
    padding: 0.1em;
    margin: 0.1pc 0em;
}

.checkItem:hover {
    text-decoration: underline;
}

li.checked > span, span.checked {
    border: 1px solid #AAAAAA;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #E6E6E6;
}

.facetCount {
    color: #606060;
    font-size: 85%;
    margin-left: 0.5em;
}

.seriesNo {
    margin: 0em 0.5em 0em 0em;
}

/* ********************************* */
/* Dokument-Statusanzeige            */
/* ********************************* */

.proposed {
/*    border-bottom: 1px solid red;*/
    color: red;
}

.candidate {
/*    border-bottom: 1px solid yellow;*/
    color: orange;
}

.approved {
/*    border-bottom: 1px solid green;*/
    color: green;
}

/* ********************************* */
/* Einträge für Werke (temporär)     */
/* ********************************* */

#ajaxMainFrame div.item.works {
    cursor: default;
}

/* ********************************* */
/* Einträge für Bibliographie        */
/* ********************************* */

#ajaxMainFrame div.item.biblio {
    cursor: default;
}

#ajaxMainFrame div.item.biblio.detail {
    cursor: pointer;
}

#ajaxMainFrame div.item.biblio span.noDataFound, #ajaxMainFrame div.item.biblio span.person {
    font-weight: 600;
    font-style: normal;
}

#ajaxMainFrame div.item.biblio span.title {
    font-style: italic;
}

.readOn {
    font-size: 0.8em;
    color: #606060;
    text-align: right;
}

/* ****************************** */
/* Einträge für Metadaten */
/* ****************************** */
#ajaxMainFrame div.item {
    border: 2px solid #AAA;
    float: left;
    padding: 0.5em 0em;
    width: 45.8%;
    margin: 1em;
    cursor: pointer;
}

#ajaxMainFrame div.item div.left {
    width: 70px;
    float: left;
    padding: 0pc 0.5em;
    text-align: center;
    font-size: 85%;
    color: #606060;
    line-height: 1pc;
}

#ajaxMainFrame div.item div.right {
    margin-left: 80px;
    padding: 0em 1em;
}

#ajaxMainFrame div.item p {
    margin: 0.2em 0em;
    padding: 0em;
    line-height: 1pc;
}

#ajaxMainFrame div.item h1 {
    line-height: 1.1pc;
    font-size: 1.2em;
    margin: 0.2em 0em;
    font-weight: bold;
}

#ajaxMainFrame div.item h2 {
    line-height: 1.1pc;
    font-size: 1.1em;
    margin: 0.2em 0em;
    font-weight: bold;
}

#overlay {
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    background-color:#000;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:fixed;
    top: 0px;
    left: 0px;

}