#contentLeft, #contentRight {
    float: left;
    display: inline;
}

#contentLeft {
    width: 76%;
}

#contentRight {
    width: 22%;
    margin-left: 2%;
}

#contentLeft > div, #contentRight > div {
    margin: 1em 0;
    border: 2px solid #aaaaaa;
}

#contentRight > div {
    padding: 0 0.9em;
}

#contentRight > div > h2 {
    margin: 0.6em 0;
}

#contentLeft > ul {
    margin-top: 1em;
}

#sender img, #addressee img {
/*    width: 40px;*/
    padding: 0px 3px;
}

#sender a, #addressee a {
    text-decoration: none;
}

/*div#sender, div#addressee {
    border: none;
    margin: 0em;
    padding: 0em;
    text-align: center;
}*/

div#letterListFrame, div#letterTimeline {
    padding: 0em;
    margin: 0em;
}

#letterListFrame td, th{
    padding: 0.2em 0.8em;
}

#letterListFrame table {
    border-collapse: collapse;
}

#letterListFrame thead {
    background: url(../pix/sortByBackground.png) repeat-x;
}

#letterTimeline {
    height: 550px;
    width: 99%;
    border: 1px solid black;
    font-size: 13px
}

.letterUnavailable {
    color: gray;
}

.summaryIncipit td {
    padding-left: 2em !important;
}

.summaryIncipitHeader {
    font-variant:small-caps;
}

.trHighlighted {
    background-color: rgb(238,238,238);
}

tfoot {
    font-size: 0.6em;
}

.link {
    border-bottom: 1px solid black;
}

.noLettersAvailable {
    color:#606060;
    font-size:1.6em;
/*    font-variant:small-caps;*/
    font-weight:normal;
    line-height:1.2em;
    margin: 1em;
}

span.person {
    cursor: pointer;
}

form div {
    display: block;
    margin: 0.5pc 0pc;
}

.submitButton {
    margin: 1pc 0pc;
    display: block;
}

.calInput {
    border: 2px solid #AAAAAA;
    padding-left: 0.4em;
    margin-right: 0.3em;
}