// Footer

.footerLogo
{
    margin-bottom: 80px;

}

.footerNav
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footerNav li
{
    float:left;
    margin-right: 26px;
}

.footer
{
    padding-top: 60px;
    .col-md-3 { height: 100px;}
    .row:first-child { padding-bottom: 30px;}
    img {
       margin-bottom: 30px; 
    }
}

.footerbottom
{
    font-size: 20px;
    padding-top:60px;
    padding-bottom:52px;
}

.documentFooter {
    font-size: 85%;
    line-height: 1.2em;
    padding-top: 2ex;
}
