/* workaround for ajax includes */
.col-xs-12 {
  flex:  0 0 100%;
  max-width:100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
} 

/* main column padding (only md upwards) */
@include media-breakpoint-up(md) {
    .main-col {
        padding-right: 40px;
    }
}