div#diaryFrame {
    padding: 1em;
/*    float: left;*/
    margin: 0em;
}

#diaryFrame h1, #personMetaData h1 {
    font-size: 1.6em;
    font-variant:small-caps;
    font-weight:normal;
    line-height: 1.2em;
    color: #606060;
}

#diaryFrame h2 {
    font-size: 1.4em;
    margin: 0.2em 0em;
    color: #606060;
}

#diaryFrame p, #personMetaData p {
    font-size: 1em;
    padding: 0.2em;
    margin: 0;
}

/*#diaryFrame div div {
    font-family: Garamond,"Times New Roman",times,serif;
    font-size: 12pt;
    margin-bottom: 1em;
}*/

.tableLeft {
    float: left;
    width: 79%;
    font-family: Garamond,"Times New Roman",times,serif;
    font-size: 12pt;
}

.tableRight {
    float: left;
    width: 21%;
    font-family: Garamond,"Times New Roman",times,serif;
    font-size: 12pt;
}

.highlighted {
    background-color: #ffff66;
}

.teiLetter_noteDefinitionMark {
    vertical-align: super;
	font-size: smaller;
	line-height: 0em;
	background-color:#F0F2EC;
	border: solid 1px #CCCCCC;
	padding: 1px 3px 1px 3px;
}

a {
    text-decoration: none;
    color: #02176F;
    background-color:transparent !important;
}

/* First table column */
.rh, .f {
    margin-right: -2em;
}

/* Following table columns */
.pf, .gr, .xr {
    margin-left: 3em;
    margin-right: -2em;
}

.tableLeft span.tei_pb, .tableRight span.tei_pb, .lineClearer {
    display: block;
    font-style: italic;
    font-family: Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    border-bottom: 1px solid #aaaaaa;
    font-size: 0.8em;
    line-height: 1.6em;
    margin-top: 0.5em;
}

.tableLeft span.tei_pb {
    color: #606060;
}

.tableRight span.tei_pb {
    color: #FFFFFF;
/*    padding-bottom: 2px;*/
}

.tei_pbPosMid {
    display: block;
    clear: both;
    font-style: italic;
    color: #606060;
    font-family: Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    border-bottom: 1px solid #aaaaaa;
}

span.lineClearer {
    height: 0.9pc;
    border: none;
}

.hiddenText {
    color: #FFFFFF;
}