div#docFrame {
    padding: 0em 1em;
    margin: 0em;
}

#docFrame h1 {
    font-size: 1.6em;
    font-variant:small-caps;
    font-weight:normal;
    line-height: 1.2em;
    color: #606060;
}

#docFrame h2 {
    font-size: 1.4em;
    font-variant:small-caps;
    font-weight:normal;
    line-height: 1em;
    color: #606060;
    margin: 0em 0em 0.5pc 0em;
}

#docFrame p {
    font-size: 1em;
    padding: 0.2em;
    margin: 0;
}

#teiDoc_body {
    text-align: justify;
    font-family: Garamond, "Times New Roman", times, serif;
    font-size: 12pt;
    padding-bottom: 1em;
    border-top: 1px solid #AAA;
}

#teiDoc_body > div {
    margin: 0.5em 0em;
}

#teiDoc_body p {
    padding: 0em;
}

.docHeader {
    text-align: center;
    margin-bottom: 0.5pc;
    font-weight: 300;
    font-family: helvetica, arial, sans-serif;
}

.tabcontentiframe {
/*    height: 700px !important;*/
    border: none;
}

.tei_dateline {
    display: block;
    width: 100%;
}

.block-right {
    text-align: right;
}

.block-left {
    text-align: left;
}

/* Funktioniert nicht, da der folgenden Absatz meist ein p ist und damit block … */
.block-inline {
    display: inline-block;
    width:auto;
}
