body {
    background-color:#E6E6E6;
    color:#000000;
    font-family:Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    font-size:0.8em;
    line-height:1.4pc;
    margin:0em;
    text-align:center;
    min-width: 985px;
}

#container {
    background:#FFFFFF none repeat scroll 0 0;
/*    color:#000000;*/
/*    line-height:1.6em;*/
    margin:0px auto 0;
    /*padding:0 !important;*/
    padding:0em;
    text-align:left;
    width: 985px;
}

div {
    orphans:2;
    widows:2;
}

a img {
    border: none;
}

a {
    text-decoration: none;
    color: #02176F;
    background-color:transparent !important;
}


a:hover {
    text-decoration: underline;
    cursor: pointer; /* Extra Eintrag für Opera */
}

#headContainer {
    background-image: url(../pix/header.png);
    width: 985px;
    height: 120px;
    margin: 0px;
}

#headContainer.dev {
    background-image: url(../pix/header-dev.png);
}

#headContainer.rel {
    background-image: url(../pix/header-rel.png);
}

#headContainer > h1 {
    margin: 0;
    padding: 0;
}

#headContainer > h1 > a {
/*    color: transparent;*/
/*    visibility: hidden;*/
    float:left;
    height:100px;
    margin:0px 0px 0px 148px;
/*    text-align:center;*/
    width:550px;
    text-decoration: none;
}

.hiddenLink {
    visibility: hidden;
}

#topMenu {
    list-style-type: none;
    float: right;
    margin-top: 60px;
}

#topMenu li {
    float: left;
    padding-right: 1em;
}

#topMenu a {
    text-decoration: none;
    color: black;
}

#topMenu a:hover {
    text-decoration: underline;
}

#main {
    padding: 0 1em 1em 1em;
    overflow: hidden;
    clear: both;
    margin: 0;
}

#breadCrumb {
    width: 985px;
}

#breadCrumb img {
    width: 15px;
}

#breadCrumb p {
    display: inline;
}

/*#breadCrumb a {
    text-decoration: none;
}*/

#footer {
    clear: both;
    text-align: center;
    padding: 0.5em 0;
    background-color:#E6E6E6;
}

#supportBadges a {
    padding: 0 1em;
}

#timeLine img {
    width: 500px;
}

.noscript {
    margin: 1em;
    padding: 1em;
    border: 1px dashed red;
    color: red;
    text-align: center;
    display:block;
}

.noDataFound {
    font-style: italic;
    cursor: default;
}

.link {
    border-bottom: 1px solid black;
}

.noTarget {
    color: gray;
}

.notAvailable {
    font-style: italic;
    font-family: Helvetica,Verdana,Tahoma,Geneva,Arial,sans-serif;
    font-size:0.8em;
    line-height:1.6em;
    text-align: left;
}

.clearer {
    clear: both;
}

/* clearfix from http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/ */
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */


#supportBadges a {
    text-decoration: none;
}

#supportBadges img {
    margin: 0.5pc 0em;
    max-height: 37px;
}

.ajaxLoader img {
    float: none !important;
    width: auto !important;
}

/*.ajaxLoaderBar img {
    float: none !important;
    width: auto !important;
    display: block;
}*/

.birth img, .death img, .funeral img, .baptism img {
    height: 15px;
    margin-right: 0.3em;
    vertical-align: bottom;
}

img.figure {
    display: block;
    margin: auto;
}

#sidebarAddress ul {
    list-style: none;
    margin: 0em 0em 1em 0em;
    padding: 0em;
}

.ema {
    cursor: pointer;
    color: #02176F;
    text-decoration: none;
}

.ema:hover {
    text-decoration: underline;
}

.internalLink {
    cursor: pointer;
    color: #02176F;
    text-decoration: none;
}

.internalLink:hover {
    text-decoration: underline;
}

.transcript:hover {
    text-decoration: none;
}

/* ********************************* */
/* Dokument-Statusanzeige            */
/* ********************************* */

.proposed {
/*    border-bottom: 1px solid red;*/
    color: red;
}

.candidate {
/*    border-bottom: 1px solid yellow;*/
    color: orange;
}

.approved {
/*    border-bottom: 1px solid green;*/
    color: green;
}

.contactAddress {
    list-style: none;
}

.shadetabs {
    line-height:1.3pc;
}

.news-metadata-teaser-date {
    text-align: right;
    font-size: 85%;
    color: #606060;
}

.roundDate {
    background-color:#ffffdd;
}

#endNotes ul {
    list-style: none;
}

/* ********************************* */
/* Musikalische Symbole		         */
/* ********************************* */

/*
@font-face {
	font-family: "musical-symbols";
	src: url("../fonts/musicalsymbolstextgrid162-webfont.eot");
	src: local("☺"),
		url("../fonts/musicalsymbolstextgrid162-webfont.woff") format("woff"),
		url("../fonts/musicalsymbolstextgrid162-webfont.otf") format("opentype"),
		url("../fonts/musicalsymbolstextgrid162-webfont.svg#filename") format("svg");
}
*/

@font-face {
	font-family: "musical-symbols";
	src: url("../fonts/eot/BravuraText.eot");
	src: local("☺"),
		url("../fonts/woff/BravuraText.woff") format("woff"),
		url("../fonts/otf/BravuraText.otf") format("opentype"),
		url("../fonts/svg/BravuraText.svg") format("svg");
}

.musical-symbols {
	font-family: musical-symbols;
}

tr.bg-color {
    background-color:#E6E6E6;
}