#main {
    min-height: 250px;
}

#contentLeft, #contentRight {
    float: left;
    display: inline;
}

#contentLeft {
    width: 76%;
}

#contentRight {
    width: 22%;
    margin-left: 2%;
}

#contentLeft > div, #contentRight > div {
    margin: 1em 0;
    border: 2px solid #aaaaaa;
}

#contentRight > div {
    padding: 0 0.9em;
}

div#cal1_div {
    border:none;
}

#diaryList {
    padding: 0em 1em;
}

h2 {
    margin: 1em 0em;
    font-weight: bold;
    font-size: 1.4em;
    font-stretch: normal;
}

h1 {
    margin: 0.5em 0em;
    font-weight: bold;
    font-size: 2em;
    font-stretch: normal;
}
