<div xmlns="http://www.w3.org/1999/xhtml" data-template="gl:spec-details">
    <div class="toc">
        <h2 data-template="lang:translate">toc</h2>
        <div>
            <h3>Text</h3>
            <ul data-template="gl:divGen" data-template.type="toc">
                <li data-template="app-shared:each" data-template-from="divGen-items" data-template-to="divGen-item">
                    <span data-template="gl:print-divGen-item">some element name</span>
                </li>
            </ul>
        </div>
        <div class="appendix">
            <h3 data-template="lang:translate">appendix</h3>
            <ul>
                <!--<li data-template="app-shared:each" data-template-from="divGen-items" data-template-to="divGen-item">
						<span data-template="gl:print-divGen-item">Elements</span>
					</li>-->
                <li><a href="$link/project/editorialGuidelines-text/elements/index"><span data-template="lang:translate">elements</span></a></li>
                <li><a href="$link/project/editorialGuidelines-text/attributes/index"><span data-template="lang:translate">attributes</span></a></li>
            </ul>
        </div>
    </div>
</div>