<div xmlns="http://www.w3.org/1999/xhtml" class="col-md col-sm-12 iconographie">
    <div data-template="app-shared:if-exists" data-template-key="iconographyImages" data-template-wrap="no">
        <h2 data-template="lang:translate">iconography</h2>
    </div>
    <div class="row align-items-center">
        <div class="iconographythumbnail col" data-template="app-shared:each" data-template-from="iconographyImages" data-template-to="iconographyImage" data-template-max="30">
            <img data-template="img:iconographyImage" src="dummy.jpg"/>
        </div>
    </div>
</div>
