<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <!--<div class="preview-icon">
        <span class="pull-left">
            <img src="$resources/img/icons/icon_musicalWorks.png" class="img-fluid" alt="preview-icon" data-template="app-shared:if-matches" data-template-key="workType" data-template-value="http://d-nb.info/standards/elementset/gnd#MusicalWork"/>
            <img src="$resources/img/icons/icon_works.png" class="img-fluid" alt="preview-icon" data-template="app-shared:if-not-matches" data-template-key="workType" data-template-value="http://d-nb.info/standards/elementset/gnd#MusicalWork"/>
        </span>
    </div>-->
    <div class="portrait preview-icon">
        <a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
            <!-- Image will load via AJAX -->
            <i class="fa fa-spinner fa-spin fa-2x"/>
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
                <span data-template="app:preview-title">Work Title</span>
                <span data-template="app:preview-opus-no">Opus number</span>
            </a>
        </h3>
        <h4 class="media-heading" data-template="app:preview-subtitle">Some subtitle</h4>
        <p data-template="app-shared:each" data-template-from="relators" data-template-to="relator"><strong data-template="app:preview-relator-role"/>: <span data-template="app:preview-relator-name"/></p>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app-shared:print" data-template-key="docID">A030043</span>
        </p>
    </div>
</div>