<div xmlns="http://www.w3.org/1999/xhtml">
    <a class="pull-left" data-template="app:preview-icon">
        <img src="$resources/img/icons/icon_sources.png" class="img-responsive"/>
    </a>
    <div class="media-body" data-template="app:preview">
        <h3 class="media-heading">
            <a data-template="app:preview-title">Source Title</a>
        </h3>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app:print" data-template-key="docID">A030043</span>
        </p>
    </div>
</div>