<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <div class="portrait preview-icon">
        <a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
            <!-- Image will load via AJAX -->
            <i class="fa fa-spinner fa-spin fa-2x"/>
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a data-template="app:preview-title">Person Title</a>
        </h3>
        <ol class="media" data-template="app:person-basic-data">
            
            <li class="media" data-template="app-shared:each" data-template-from="fullnames" data-template-to="fullname">
                <div class="pull-left">
                    <i class="fa fa-user"/>
                </div>
                <div class="media-body" data-template="app-shared:print" data-template-key="fullname"> Weber, Carl Maria Friedrich Ernst von </div>
            </li>
            <li class="media" data-template="app-shared:each" data-template-from="realnames" data-template-to="realname">
                <div class="pull-left">
                    <i class="fa fa-user"/>
                </div>
                <div class="media-body"> <span data-template="app-shared:print" data-template-key="realname">Weber, Carl Maria Friedrich Ernst von</span> <span class="nameDesc" data-template="lang:translate">realName</span></div>
            </li>
            <li class="media" data-template="app-shared:each" data-template-from="birthnames" data-template-to="birthname">
                <div class="pull-left">
                    <i class="fa fa-user"/>
                </div>
                <div class="media-body"> <span data-template="app-shared:print" data-template-key="birthname">Weber, Carl Maria Friedrich Ernst von</span> <span class="nameDesc" data-template="lang:translate">birthName</span></div>
            </li>
            <li class="media" data-template="app-shared:each" data-template-from="marriednames" data-template-to="marriedname">
                <div class="pull-left">
                    <i class="fa fa-user"/>
                </div>
                <div class="media-body"> <span data-template="app-shared:print" data-template-key="marriedname">Weber, Carl Maria Friedrich Ernst von</span> <span class="nameDesc" data-template="lang:translate">marriedName</span></div>
            </li>
            <li class="media pseudonyme" data-template="app-shared:if-exists" data-template-key="pseudonyme">
                <div class="pull-left">
                    <i class="fa fa-user"/>
                </div>
                <div class="media-body"> <span data-template="app-shared:join" data-template-key="pseudonyme" data-template-separator="; ">Weber, Carl Maria Friedrich Ernst von</span> <span class="nameDesc" data-template="lang:translate">pseudonyme</span></div>
            </li>
            <li class="media altnames" data-template="app-shared:if-exists" data-template-key="altnames">
                <div class="pull-left">
                    <i class="fa fa-user"/>
                </div>
                <div class="media-body"> <span data-template="app-shared:join" data-template-key="altnames" data-template-separator="; ">Weber, Carl Maria Friedrich Ernst von</span> <span class="nameDesc" data-template="lang:translate">altNames</span></div>
            </li>
            <li class="media" data-template="app-shared:if-exists" data-template-key="birth">
                <div class="pull-left">
                    <i class="fa fa-asterisk "/>
                </div>
                <div class="media-body">
                    <span data-template="app:printDatesOfBirthOrDeath" data-template-key="birth">20.11.1786</span>
                    <span data-template="app:printPlaceOfBirthOrDeath" data-template-key="birth">in Eutin</span>
                    <!--Quelle 1: 20.11.1786 in Eutin Quelle 2: 22.10.1786
                                in Eudin Unsicher: 22.10.1786 in Eudin--> </div>
            </li>
            <li class="media baptism" data-template="app-shared:if-exists" data-template-key="baptism">
                <div class="pull-left">
                    <img src="$resources/img/baptism.gif" alt="baptism-icon"/>
                </div>
                <div class="media-body">
                    <span data-template="app:printDatesOfBirthOrDeath" data-template-key="baptism">20.11.1786</span>
                    <span data-template="app:printPlaceOfBirthOrDeath" data-template-key="birth">in Eutin</span>
                </div>
            </li>
            <li class="media" data-template="app-shared:if-exists" data-template-key="death">
                <div class="pull-left">
                    <strong>†</strong>
                </div>
                <div class="media-body">
                    <span data-template="app:printDatesOfBirthOrDeath" data-template-key="death">20.11.1786</span>
                    <span data-template="app:printPlaceOfBirthOrDeath" data-template-key="death">in Eutin</span>
                </div>
            </li>
            <li class="media funeral" data-template="app-shared:if-exists" data-template-key="funeral">
                <div class="pull-left">
                    <img src="$resources/img/funeral.gif" alt="funeral-icon"/>
                </div>
                <div class="media-body">
                    <span data-template="app:printDatesOfBirthOrDeath" data-template-key="funeral">20.11.1786</span>
                    <span data-template="app:printPlaceOfBirthOrDeath" data-template-key="death">in Eutin</span>
                </div>
            </li>
            
            <li class="media occupations" data-template="app-shared:if-exists" data-template-key="occupations">
                <div class="pull-left">                  
                    <i class="fa fa-briefcase"/>
                </div>
                <div class="media-body" data-template="app-shared:join" data-template-key="occupations" data-template-max="3">
                    Schauspielerin, Sängerin
                </div>
            </li>
            <li class="media residences" data-template="app-shared:if-exists" data-template-key="residences">
                <div class="pull-left">                  
                    <i class="fa fa-map-marker"/>
                </div>
                <div class="media-body" data-template="app-shared:join" data-template-key="residences" data-template-max="3">
                    Köln, Gotha
                </div>
            </li>
            
            <li class="media" data-template="app-shared:if-matches" data-template-key="usage" data-template-value="contacts">
                <div class="pull-left">                  
                    <i class="fa fa-envelope"/>
                </div>
                <div class="media-body">
                    <strong data-template="app:letter-count">317</strong> <strong data-template="lang:translate">letters</strong>
                </div>
            </li>
            
        </ol>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app-shared:print" data-template-key="docID">A030043</span>
        </p>
        
        <div class="kwic" data-template="search:kwic"/>
    </div>
</div>