<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <div class="preview-icon">
        <a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
            <img src="$resources/img/icons/icon_news.png" class="img-fluid" alt="preview-icon"/>
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a data-template="app:preview-title">News Title</a>
        </h3>
        <p><strong data-template="app-shared:print" data-template-key="newsDate">6. September 2013</strong></p>
        <p data-template="app:preview-teaser">Fünf Monate nach dem letzten Release konnte heute die Version 1.1.8 der Digitalen Edition der Carl-Maria-von-Weber-Gesamtausgabe veröffentlicht …</p>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app-shared:print" data-template-key="docID">A030043</span>
        </p>
        <div class="kwic" data-template="search:kwic"/>
    </div>
</div>