<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <div class="preview-icon">
        <a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
            <img src="$resources/img/icons/icon_letters.png" class="img-fluid" alt="preview-icon"/>
        </a>
    </div>
    <div class="media-body" data-template="app:preview-details">
        <h3 class="media-heading"><a data-template="app:preview-title">Carl Maria von Weber für Elise Vigitill [Stammbuchblatt]</a></h3>
        <!--                                                    <p><strong>Nürnberg, Montag, 10. September 1792</strong></p>-->
        <p><strong><span data-template="lang:translate">incipit</span>: </strong> <span data-template="app:preview-incipit">"Lieben Sie Beste Elise alzeit Ihr aufrichtiger …"</span></p>
        <p data-template="app-shared:if-exists" data-template-key="summary">
            <strong><span data-template="lang:translate">summary</span>: </strong> 
            <span data-template="app-shared:output" data-template-key="summary">Stammbucheintrag für Elise ,"im 6ten Jahr seines Alters" (Blatt mit Bleistift vorliniert).</span>
        </p>
        <p><strong><span data-template="lang:translate">identifier</span>:</strong> <span data-template="app-shared:print" data-template-key="docID">A040043</span> <span data-template="app:status" class="docStatus">in Bearbeitung</span></p>
        <div class="kwic" data-template="search:kwic"/>
    </div>
</div>