<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <div class="portrait preview-icon">
        <a class="pull-left" data-template="app:preview-icon">
            <!-- Image will load via AJAX -->
            <i class="fa fa-spinner fa-spin fa-2x"/>
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <a data-template="app:preview-title">Person Title</a>
        </h3>
        <ol class="media" data-template="app:person-basic-data">
            
            <li class="media" data-template="app:each" data-template-from="fullnames" data-template-to="fullname">
                <div class="pull-left">
                    <i class="fa fa-user media-object"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="fullname"> Weber, Carl Maria Friedrich Ernst von </div>
            </li>
            <li class="media" data-template="app:each" data-template-from="realnames" data-template-to="realname">
                <div class="pull-left">
                    <i class="fa fa-user media-object"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="realname"> Weber, Carl Maria Friedrich Ernst von <!--(<span class="nameDesc" data-template="lang:translate">realName</span>)--></div>
            </li>
            <li class="media" data-template="app:each" data-template-from="birthnames" data-template-to="birthname">
                <div class="pull-left">
                    <i class="fa fa-user media-object"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="birthname"> Weber, Carl Maria Friedrich Ernst von <!--(<span class="nameDesc" data-template="lang:translate">birthName</span>)--></div>
            </li>
            <li class="media" data-template="app:each" data-template-from="marriednames" data-template-to="marriedname">
                <div class="pull-left">
                    <i class="fa fa-user media-object"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="marriedname"> Weber, Carl Maria Friedrich Ernst von <!--(<span class="nameDesc" data-template="lang:translate">marriedName</span>)--></div>
            </li>
            <li class="media pseudonyme" data-template="app:if-exists" data-template-key="pseudonyme">
                <div class="pull-left">
                    <i class="fa fa-user media-object"/>
                </div>
                <div class="media-body" data-template="app:join" data-template-key="pseudonyme" data-template-separator="; "> Weber, Carl Maria Friedrich Ernst von <!--(<span class="nameDesc" data-template="lang:translate">pseudonym</span>)--></div>
            </li>
            
            <li class="media" data-template="app:each" data-template-from="births" data-template-to="birth">
                <div class="pull-left">
                    <i class="fa fa-asterisk  media-object"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="birth"> Quelle 1: 20.11.1786 in Eutin Quelle 2: 22.10.1786
                    in Eudin Unsicher: 22.10.1786 in Eudin </div>
            </li>
            
            <li class="media baptism" data-template="app:if-exists" data-template-key="baptism">
                <div class="pull-left">
                    <img src="$resources/img/baptism.gif"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="baptism"> 20.11.1786 in Eutin </div>
            </li>
            
            <li class="media" data-template="app:each" data-template-from="deaths" data-template-to="death">
                <div class="pull-left">
                    <strong>†</strong>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="death"> Quelle 1: 20.11.1786 in Eutin Quelle 2: 22.10.1786
                    in Eudin Unsicher: 22.10.1786 in Eudin </div>
            </li>
            
            <li class="media funeral" data-template="app:if-exists" data-template-key="funeral">
                <div class="pull-left">
                    <img src="$resources/img/funeral.gif"/>
                </div>
                <div class="media-body" data-template="app:print" data-template-key="funeral"> 20.11.1786 in Eutin </div>
            </li>
            
            <li class="media occupations" data-template="app:if-exists" data-template-key="occupations">
                <div class="pull-left">                  
                    <i class="fa fa-briefcase media-object"/>
                </div>
                <div class="media-body" data-template="app:join" data-template-key="occupations">
                    Schauspielerin, Sängerin
                </div>
            </li>
            <li class="media residences" data-template="app:if-exists" data-template-key="residences">
                <div class="pull-left">                  
                    <i class="fa fa-map-marker media-object"/>
                </div>
                <div class="media-body" data-template="app:join" data-template-key="residences">
                    Köln, Gotha
                </div>
            </li>
            
            <li class="media" data-template="app:if-not-matches" data-template-key="parent-docID" data-template-value="indices">
                <div class="pull-left">                  
                    <i class="fa fa-envelope media-object"/>
                </div>
                <div class="media-body">
                    <strong data-template="app:letter-count">317</strong> <strong data-template="lang:translate">letters</strong>
                </div>
            </li>
            
        </ol>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app:print" data-template-key="docID">A030043</span>
        </p>
        
        <div class="kwic" data-template="search:kwic"/>
    </div>
</div>