<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <div class="preview-icon">
        <span class="pull-left">
            <img src="$resources/img/icons/icon_sources.png" class="img-fluid" alt="preview-icon"/>
        </span>
    </div>
    <div class="media-body">
        <h3 class="media-heading">
            <span data-template="app:preview-title">Source Title</span>
        </h3>
        <p data-template="app:preview-creation">Augsburg: Benno Filser, 1928</p>
        <p data-template="app:preview-teaser">Abschrift im vierstimmigen Satz von Friederike Koch im fragm. Autograph …</p>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app-shared:print" data-template-key="docID">A030043</span>
        </p>
    </div>
</div>