<div xmlns="http://www.w3.org/1999/xhtml" data-template="app:preview">
    <div class="portrait preview-icon">
        <a class="pull-left" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="docURL">
            <!-- Image will load via AJAX -->
            <i class="fa fa-spinner fa-spin fa-2x"/>
        </a>
    </div>
    <div class="media-body" data-template="app:place-basic-data">
        <h3 class="media-heading">
            <a data-template="app:preview-title">Place Title</a>
        </h3>
        <!--<p>
            <i class="fa fa-globe"/>
            <a href="http://www.geonames.org/2661881/aarau.html" data-template="app:place-link" data-template-provider="geoNames">2661881</a>
        </p>-->
        <p>
            <i class="fa fa-location-arrow"/>
            <span data-template="app-shared:print" data-template-key="coordinates">50.59403 8.95866</span>
        </p>
        <p>
            <strong><span data-template="lang:translate">identifier</span>:</strong> 
            <span data-template="app-shared:print" data-template-key="docID">A030043</span>
        </p>
    </div>
</div>