<div xmlns="http://www.w3.org/1999/xhtml">
    <h2>
        <a href="#settings" class="collapseSingle collapsed" aria-expanded="false" data-toggle="collapse" data-template="lang:translate">settings</a>
    </h2>
    <div id="settings" class="panel-collapse collapse" data-template="app:inject-api-base">
        <p data-template="lang:translate">show_markers_paragraph</p>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="rdg-marker" checked="checked" data-toggle-class=".noteMarker:contains('Δ')" data-template="app:init-custom-switch"/>
            <label class="custom-control-label" for="rdg-marker"><span data-template="lang:translate">appRdgs</span> Δ</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="textConst-marker" checked="checked" data-toggle-class=".noteMarker:contains('‡'), .tei_del" data-template="app:init-custom-switch"/>
            <label class="custom-control-label" for="textConst-marker"><span data-template="lang:translate">textConstitution</span> ‡</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="supplied-marker" checked="checked" data-toggle-class=".brackets_supplied" data-template="app:init-custom-switch"/>
            <label class="custom-control-label" for="supplied-marker"><span data-template="lang:translate">supplied-marker</span> [&#x2009;]</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="note-marker" checked="checked" data-toggle-class=".noteMarker:contains('*')" data-template="app:init-custom-switch"/>
            <label class="custom-control-label" for="note-marker"><span data-template="lang:translate">note_commentary</span> *</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" id="thematicCommentaries-marker" checked="checked" data-toggle-class=".noteMarker:contains('T')" data-template="app:init-custom-switch"/>
            <label class="custom-control-label" for="thematicCommentaries-marker"><span data-template="lang:translate">thematicCommentaries</span> T</label>
        </div>
    </div>
</div>
