<div xmlns="http://www.w3.org/1999/xhtml" class="row">
    <div class="col-xl-3 col-lg-3 d-lg-block d-none thematicCommentary-of-the-week-image left">
        <div class="thematicCommentary-image-frame">
            <img src="https://weber-gesamtausgabe.de/Scaler/IIIF/persons%2FA0020xx%2FA002068%2Fweber_bardua.jpg/full/,260/0/native.jpg" alt="Carl Maria von Weber Jubiläumsbild"/>
            <!-- placeholder for static jubilee picture-->
    
        </div>
    </div>
    <div class="col-xl-6 col-lg-9 col-md-12 flipcard thematicCommentary-of-the-week-flipcard">
        <div class="front transparent">
            <h2 data-template="app-shared:print"
                data-template-key="thematicCommentaryOfTheWeek-occasion">Platzhalter Occasion</h2>
            <h3>↻ Mehr dazu im "Thema der Woche". ↺</h3>
        </div>
        <div class="back transparent">
            <h2 data-template="app-shared:print"
                data-template-key="thematicCommentaryOfTheWeek-title">Platzhalter Titel</h2>
            <h4 data-template="app-shared:print"
                data-template-key="thematicCommentaryOfTheWeek-teaser">Platzhalter Teaser</h4>
            <h3>
                <a href="index.html#" data-template="app-shared:set-attr" data-template-attr="href"
                    data-template-key="thematicCommentaryOfTheWeek-url">
                    Weiter zum Themenkommentar <i class="fa fa-arrow-right"/>
                </a>
            </h3>
        </div>
    </div>
    <div class="col-xl-3 d-xl-block d-none thematicCommentary-of-the-week-image right">
        <div class="thematicCommentary-image-frame">
            <img data-template="app-shared:set-attr" data-template-attr="src"
                data-template-key="thematicCommentaryOfTheWeek-teaserImageURL"
                alt="teaser image for the thematic commentary"/>
        </div>
    </div>
</div>
