<div xmlns="http://www.w3.org/1999/xhtml" class="row">
    <div class="col-md-12 word-of-the-day" data-template="app:word-of-the-day">
        <h1 class="home" data-template="app-shared:print" data-template-key="wordOfTheDay">„MIT HILFE
            DER GÖTTLICHEN <br/> TONKUNST LÄSST SICH MEHR <br/> AUSDRÜCKEN UND AUSRICHTEN ALS MIT
            WORTEN.“ </h1>
        <h3 class="unterschriftweber">
            <a href="index.html#" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="wordOfTheDayURL">
                <span data-template="lang:translate">gotoletter</span>
                <i class="fa fa-arrow-right"/>
            </a>
            <img src="$resources/img/unterschrift-weber.png" alt="Weber's signature"/>
        </h3>
    </div>
</div>