.popover.fade.show {
    max-width:300px;    
    font-family: unset;
    font-size:1em;
    opacity:1;
    
   table {
        font-size:unset;    
   }   
   
   .fade.show {
        opacity:1;   
   }
   
   .popover-body {
        max-height:400px;
        overflow-y:scroll;    
        padding:4px;
    }       
    
    .popover-header:empty {
        display:none; 
    }    
    
    .nav {
        margin-top:4px;
    }
    
    .nav-tabs li {
        width: unset;
    }
    
    .nav-item .nav-link.active {
        background:@brand-primary;
        color:white;
    }
}