.iconographythumbnail {
  position: relative;
  width: 52px;
  height: 52px;
  overflow: hidden;
  float:left;
  display:block;
  margin: 0 4px 4px 0;
}
.iconographythumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.spinner {
    color:@brand-primary;
}
.baptism img, .funeral img {
    margin: 0px;
    width: 16px;
}
.abstract {
    background-color: @gray-light;
    margin: 1ex 2em;
    padding: 1ex 1em;
}
.abstract p, .abstract ul {
    margin-bottom: 5px;
}
.table-wrapper {
    width: 95%;
    margin: auto;
}

.popover div.media-body {
    width: 75%;
    margin: 0;
    padding-left:3px;
    float:left;
}

.popover div.preview-icon {
    width: 25%;
    margin: 0;
    padding-right:3px;
    float:left;
}

.popover-content .preview-icon img {
    width:100%;
    padding-top: 1ex;
}

.popover p {
    margin-bottom: 5px;
}

.tei_notatedMusic {
    display:block;
    margin: 1ex auto;
    width: 95%;
    text-align:center;
}
.tei_notatedMusic img {
    margin: 0px;
}
.inline {
    display:inline !important;
    margin: 0px 1em;
}