<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="document" data-template="app:document-title">CARL MARIA VON WEBER AN
                        BREITKOPF UND HÄRTEL IN LEIPZIG SALZBURG, MONTAG, 3. SEPTEMBER 1798</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li><a href="$link/index">Home</a></li>
                        <li><a data-template="app:breadcrumb-person">Carl Maria von Weber</a></li>
                        <li><a data-template="app:breadcrumb-docType">Korrespondenz</a></li>
                        <li><span data-template="app:print" data-template-key="docID">A040080</span> <span data-template="app:if-not-matches" data-template-key="docType" data-template-value="news"><span data-template="app:status" class="docStatus">in Bearbeitung</span></span></li>
                    </ol>
                </div>
                <div class="col-sm-2 hidden-xs backLinkInBreadcrumb" onclick="history.back();">
                    <i class="fa fa-arrow-left"/>
                    <span data-template="lang:translate">back</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container documentText paddingTopIcon paddingBottomIcon" data-template="app:doc-details">
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <div id="datePicker" data-template="app:if-matches" data-template-key="docType" data-template-value="diaries" data-dev-url="$dev/api.xql"/>
                <div class="allFilter" data-template="facets:document-allFilter">
                    <div>
                        <h2 class="collapseSingle collapsed" data-toggle="collapse" href="#dokumente">
                            Dokumente</h2>
                        <div id="dokumente" class="panel-collapse collapse">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="gradient-light active"><a href="#transcription" data-toggle="tab">Text</a></li>
                                <li class="gradient-light"><a href="#editorial" data-toggle="tab" data-template="lang:translate">editorial</a></li>
                                <li class="gradient-light"><a href="#facsimile" data-toggle="tab" data-template="app:facsimile-tab" id="facsimile-tab">facsimile</a></li>
                                <li class="gradient-light"><a href="#XMLPreview" data-toggle="tab" data-template="app:ajax-tab">XML-Preview</a></li>
                                <li class="gradient-light"><a data-toggle="tab">XML-Download</a></li>
                            </ul>
                        </div>
                    </div>
                    <div data-template="app:if-matches" data-template-key="docType" data-template-value="letters">
                        <h2 class="collapseSingle collapsed" data-toggle="collapse" href="#kontext" data-template="lang:translate">context</h2>
                        <div id="kontext" class="panel-collapse collapse borderBox">
                            <div data-template="app:context-letter">
                                <h3 data-template="lang:translate">absouluteChronology</h3>
                                <h4 data-template="lang:translate">prevLetters</h4>
                                <ul>
                                    <li data-template="app:each" data-template-from="context-letter-absolute-prev" data-template-to="letter-norm-entry">
                                        <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                    </li>
                                </ul>
                                <h4 data-template="lang:translate">nextLetters</h4>
                                <ul>
                                    <li data-template="app:each" data-template-from="context-letter-absolute-next" data-template-to="letter-norm-entry">
                                        <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                    </li>
                                </ul>
                                <h3 data-template="lang:translate">korrespondenzstelle</h3>
                                <h4 data-template="lang:translate">prevLetters</h4>
                                <ul>
                                    <li data-template="app:each" data-template-from="context-letter-korrespondenzstelle-prev" data-template-to="letter-norm-entry">
                                        <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                    </li>
                                </ul>
                                <h4 data-template="lang:translate">nextLetters</h4>
                                <ul>
                                    <li data-template="app:each" data-template-from="context-letter-korrespondenzstelle-next" data-template-to="letter-norm-entry">
                                        <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-template="app:each" data-template-from="filterSections" data-template-to="filterSection">
                        <h2 class="collapseSingle collapsed" data-toggle="collapse" data-template="facets:filter-head">Personen</h2>
                        <div class="panel-collapse collapse" data-template="facets:filter-body">
                            <div data-toggle="buttons" class="btn-group primary" data-template="facets:filter-options">
                                <label class="btn gradient-light" data-template="app:each" data-template-from="filterOptions" data-template-to="filterOption">
                                    <input type="checkbox" name="options" data-template="facets:filter-value"/> <span data-template="facets:filter-label">Weber, Carl Maria von</span> 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3 ">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="transcription">
                        <div data-template="app:print-transcription"/>
                    </div>
                    <div class="tab-pane fade" id="editorial">
                        <h2 data-template="lang:translate">editorial</h2>
                        <!--<div>
                            <h3 data-template="lang:translate">series</h3>
                            <p data-template="app:series">WeGA, Briefe, Digitale Edition</p>
                        </div>-->
                        
                        <div>
                            <h3 data-template="lang:translate" class="media-heading">summary</h3>
                            <div data-template="app:print-summary"/>
                        </div>
                        
                        <div data-template="app:if-matches" data-template-key="docType" data-template-value="letters">
                            <h3 data-template="lang:translate" class="media-heading">incipit</h3>
                            <div data-template="app:print-incipit"/>
                        </div>
                        
                        <div>
                            <h3 data-template="lang:translate" class="media-heading">generalRemark</h3>
                            <div data-template="app:print-generalRemark"/>
                        </div>
                        
                        <div data-template="app:if-matches" data-template-key="docType" data-template-value="writings">
                            <h3 data-template="lang:translate" class="media-heading">creation</h3>
                            <div data-template="app:print-creation"/>
                        </div>
                        
                        <div>
                            <h3 data-template="lang:translate" class="media-heading">responsibilities</h3>
                            <dl data-template="app:respStmts"/>
                        </div>
                        
                        <div data-template="app:textSources">
                            <h3 data-template="lang:translate" class="media-heading">textSources</h3>
                            <div data-template="app:each" data-template-from="textSources" data-template-to="textSource">
                                <div data-template="app:print-textSource"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="facsimile" style="width:100%;height:1000px;">
                        <!--<form action="input_button.htm">
                            <p>
                                <input id="select" type="button" value="select rectangle" onclick="enableRectangle()" />
                                <input id="disable" type="button" value="disable rectangle" onclick="disableRectangle()" />
                                <input id="zoomRectangle" type="button" value="zoom rectangle" onclick="zoom()" />
                                <input id="showCenter" type="button" value="show rectangle center" onclick="showRectangleCenter()" />               
                            </p>
                        </form>-->
                        <div id="map" data-template="app:init-facsimile" data-url="" data-originalMaxSize="" style="width:100%;height:100%;position:relative;">
                            <!-- app:init-facsimile() sets attributes data-url and data-originalMaxSize -->
                        </div>
                        <!--<script type="text/javascript">
                            initFacsimile();
                        </script>-->
                    </div>
                    <div class="tab-pane fade" id="XMLPreview">
                        <h2>XML</h2>
                        <!-- loaded via AJAX request to ./xml.html -->
                    </div>
                    <div class="tab-pane fade" id="XMLDownload">
                        <h2>XML Download</h2>
                        <!-- Download initiated -->
                    </div>
                </div>
            </div>
        </div>
        <div data-template="templates:include" data-template-path="templates/includes/permalink.html"/>
        <div data-template="templates:include" data-template-path="templates/includes/bug-report.html"/>
    </div>
</div>