<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="document" data-template="app:document-title">CARL MARIA VON WEBER AN
                        BREITKOPF UND HÄRTEL IN LEIPZIG SALZBURG, MONTAG, 3. SEPTEMBER 1798</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li><a href="$link/index">Home</a></li>
                        <li><a data-template="app:breadcrumb-person">Carl Maria von Weber</a></li>
                        <li><a data-template="app:breadcrumb-docType">Korrespondenz</a></li>
                        <li><span data-template="app-shared:print" data-template-key="docID">A040080</span> <span data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="news" data-template-wrap="no"><span data-template="app:status" class="docStatus">in Bearbeitung</span></span></li>
                    </ol>
                </div>
                <div class="col-sm-2 hidden-xs backLinkInBreadcrumb" onclick="history.back();">
                    <i class="fa fa-arrow-left"/>
                    <span data-template="lang:translate">back</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container documentText paddingTopIcon paddingBottomIcon" data-template="app:doc-details">
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <div class="allFilter" data-template="facets:document-allFilter">
                    <div data-template="app-shared:if-matches" data-template-key="docType" data-template-value="diaries">
                        <h2><a href="#datePicker" data-template="lang:translate" class="collapseSingle collapsed" data-toggle="collapse">calendar</a></h2>
                        <div class="panel-collapse collapse" id="datePicker" data-template="app:inject-api-base"/>
                    </div>
                    <div>
                        <h2><a href="#dokument" data-template="lang:translate" class="collapseSingle collapsed" data-toggle="collapse">document</a></h2>
                        <div id="dokument" class="panel-collapse collapse">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="gradient-light active"><a href="#transcription" data-toggle="tab">Text</a></li>
                                <div data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="news" data-template-wrap="no"><li class="gradient-light"><a href="#editorial" data-toggle="tab" data-template="lang:translate">editorial</a></li></div>
                                <li class="gradient-light"><a href="#facsimile" data-toggle="tab" data-template="app:facsimile-tab" id="facsimile-tab">facsimile</a></li>
                                <li class="gradient-light"><a href="#backlinks" data-toggle="tab" data-template="app:ajax-tab" data-tab-callback="removeFilter">backlinks</a></li>
                                <li class="gradient-light"><a href="#XMLPreview" data-toggle="tab" data-template="app:ajax-tab">XML-Preview</a></li>
                                <li class="gradient-light"><a href="#" data-toggle="modal" data-target="#downloadModal">Download</a></li>
                            </ul>
                        </div>
                    </div>
                    <div data-template="templates:include" data-template-path="templates/includes/download-modal.html"/>
                    <div data-template="app:context">
                        <h2><a href="#kontext" data-template="lang:translate" class="collapseSingle collapsed" data-toggle="collapse">context</a></h2>
                        <div id="kontext" class="panel-collapse collapse borderBox">
                            <div id="relatedItems" data-template="app-shared:if-exists" data-template-key="context-relatedItems">
                                <h3 data-template="lang:translate">relatedItems</h3>
                                <ul>
                                    <li data-template="app-shared:each" data-template-from="context-relatedItems" data-template-to="context-relatedItem">
                                        <h4 data-template="app:print-context-relatedItem-type">Draft</h4> 
                                        <p><a href="#" data-template="app:print-context-relatedItem">Brief an Weber</a></p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div data-template="app-shared:if-exists" data-template-key="context-letter-absolute-prev context-letter-absolute-next" data-template-wrap="no">
                                   <h3 data-template="lang:translate">absouluteChronology</h3>
                                   <h4 data-template="lang:translate">prevLetters</h4>
                                   <ul>
                                       <li data-template="app-shared:each" data-template-from="context-letter-absolute-prev" data-template-to="letter-norm-entry">
                                           <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                       </li>
                                   </ul>
                                   <h4 data-template="lang:translate">nextLetters</h4>
                                   <ul>
                                       <li data-template="app-shared:each" data-template-from="context-letter-absolute-next" data-template-to="letter-norm-entry">
                                           <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                       </li>
                                   </ul>
                                </div>
                                <div data-template="app-shared:if-exists" data-template-key="context-letter-korrespondenzstelle-prev context-letter-korrespondenzstelle-next" data-template-wrap="no">
                                    <h3 data-template="lang:translate">korrespondenzstelle</h3>
                                    <h4 data-template="lang:translate">prevLetters</h4>
                                    <ul>
                                        <li data-template="app-shared:each" data-template-from="context-letter-korrespondenzstelle-prev" data-template-to="letter-norm-entry">
                                            <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                        </li>
                                    </ul>
                                    <h4 data-template="lang:translate">nextLetters</h4>
                                    <ul>
                                        <li data-template="app-shared:each" data-template-from="context-letter-korrespondenzstelle-next" data-template-to="letter-norm-entry">
                                            <span data-template="app:print-letter-context"><a href="/de/A002068/Korrespondenz/A040086">1799-01-01</a>: An <span class="noDataFound">unbekannt</span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-template="app-shared:each" data-template-from="filterSections" data-template-to="filterSection">
                        <h2><a class="collapseSingle collapsed" data-toggle="collapse" data-template="facets:filter-head" href="#">Personen</a></h2>
                        <div class="panel-collapse collapse" data-template="facets:filter-body">
                            <div data-toggle="buttons" class="btn-group primary" data-template="facets:filter-options">
                                <label class="btn gradient-light" data-template="app-shared:each" data-template-from="filterOptions" data-template-to="filterOption">
                                    <input type="checkbox" name="options" data-template="facets:filter-value"/> <span data-template="facets:filter-label">Weber, Carl Maria von</span> 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3" data-template="app:prepare-text">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="transcription">
                        <div data-template="app-shared:output" data-template-key="transcription"/>
                    </div>
                    <div class="tab-pane fade" id="editorial">
                        <h2 data-template="lang:translate">editorial</h2>
                        <!--<div>
                            <h3 data-template="lang:translate">series</h3>
                            <p data-template="app:series">WeGA, Briefe, Digitale Edition</p>
                        </div>-->
                        
                        <div data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="diaries">
                            <h3 data-template="lang:translate" class="media-heading">summary</h3>
                            <div data-template="app:print-summary"/>
                        </div>
                        
                        <div data-template="app-shared:if-matches" data-template-key="docType" data-template-value="letters">
                            <h3 data-template="lang:translate" class="media-heading">incipit</h3>
                            <div data-template="app:print-incipit"/>
                        </div>
                        
                        <div data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="diaries">
                            <h3 data-template="lang:translate" class="media-heading">generalRemark</h3>
                            <div data-template="app:print-generalRemark"/>
                        </div>
                        
                        <div data-template="app-shared:if-matches" data-template-key="docType" data-template-value="writings documents">
                            <h3 data-template="lang:translate" class="media-heading">creation</h3>
                            <div>
                                <p data-template="app:print-creation"/>
                            </div>
                        </div>
                        
                        <div>
                            <h3 data-template="lang:translate" class="media-heading">responsibilities</h3>
                            <dl data-template="app:respStmts"/>
                        </div>
                        
                        <div data-template="app:textSources">
                            <h3 data-template="lang:translate" class="media-heading">provenance</h3>
                            <div data-template="app-shared:each" data-template-from="textSources" data-template-to="textSource">
                                <h4 data-template="lang:translate" class="media-heading">textSource</h4>
                                <div data-template="app:print-textSource"/>
                                <!-- Processing tei:additional for every source -->
                                <div data-template="app:additionalSources">
                                    <div data-template="app-shared:if-exists" data-template-key="additionalSources" data-template-wrap="no">
                                        <h5 data-template="lang:translate" class="media-heading">additionalSources</h5>
                                    </div>
                                    <ul class="tei_list">
                                        <li data-template="app-shared:each" data-template-from="additionalSources" data-template-to="additionalSource">
                                            <p data-template="app:print-additionalSource"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div data-template="app-shared:if-exists" data-template-key="thematicCommentaries">
                            <h3 data-template="lang:translate" class="media-heading">thematicCommentaries</h3>
                            <ul class="tei_list">
                                <li data-template="app-shared:each" data-template-from="thematicCommentaries" data-template-to="thematicCom">
                                    <a data-template="app:print-thematicCom"/>
                                </li>
                            </ul>
                        </div>
                        
                        <div data-template="app-shared:output" data-template-key="apparatus"/>
                    </div>
                    <div class="tab-pane fade" id="facsimile" style="width:100%;height:1000px;">
                        <div id="map" data-template="app:init-facsimile" data-url="" data-originalMaxSize="" style="width:100%;height:100%;position:relative;"/>
                    </div>
                    <div class="tab-pane fade" id="backlinks">
                        <h2 data-template="lang:translate">backlinks</h2>
                        <!-- loaded via AJAX request to ./backlinks.html -->
                    </div>
                    <div class="tab-pane fade" id="XMLPreview">
                        <h2>XML</h2>
                        <!-- loaded via AJAX request to ./xml.html -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container documentFooter" data-template="app:documentFooter">
        <div class="row permaLink">
            <div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
                <h4>Empfohlene Zitierweise</h4>
                <p>Carl-Maria-von-Weber-Gesamtausgabe. Digitale Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:print" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
                    <br/>
                <span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
            </div>
            <div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">
                <h4>Proposed citation</h4>
                <p>Complete Works of Carl Maria von Weber. Digital Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:print" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
                    <br/>
                <span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
            </div>
        </div>
        <div class="row bugreport">
            <div class="col-md-9">
                <p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">Wenn Ihnen auf dieser Seite ein Fehler oder eine Ungenauigkeit aufgefallen ist, <br/>so bitten wir um eine kurze Nachricht an
                    <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
                <p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">If you've spotted some error or inaccurateness please do not hesitate to inform us via 
                    <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
            </div>
        </div>
    </div>
</div>