<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">Fehler 404 – Seite nicht gefunden</h1>
                    <h1 data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">Error 404 – page not found</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container paddingBottomIcon paddingTopIcon" data-template="app:error-settings">
        <div class="row">
            <div class="col-md-12" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
                <p>Die von Ihnen angeforderte Seite konnte leider nicht gefunden werden. Sollte es sich um einen Fehler auf unserer Seite handeln, so informieren Sie uns bitte per E-Mail an <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>, damit wir dies schnellstmöglich beheben können.</p>
                <p>Sind Sie über einen veralteten externen Link hier gelandet, so informieren Sie bitte die dort Verantwortlichen. Vielen Dank!</p>
            </div>
            <div class="col-md-12" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">
                <p>The page you have requested could not be found. If it seems to be an error within our site please do not hesitate to inform us via email at <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a> so we can fix it as soon as possible.</p>
                <p>If you have landed here due to an external link please contact the person in charge there. Thank you!</p>
            </div>
        </div>
        <div class="row" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development">
            <div class="col-md-12">
                <pre class="error templates:error-description"/>
            </div>
        </div>
    </div>
</div>