<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="document" data-template="gl:chapter-heading">editorialGuidelines-text</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="colored borderBottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<ol class="breadcrumb">
						<li><a href="$link/index">Home</a></li>
						<li><a data-template="lang:translate">project</a></li>
						<li><a href="$link/project/editorialGuidelines-text/index" data-template="lang:translate">editorialGuidelines-text</a></li>
						<li><span data-template="gl:chapter-heading">chapter heading</span></li>
					</ol>
				</div>
				<div class="col-sm-2 d-none d-lg-block backLinkInBreadcrumb" onclick="history.back();">
					<i class="fa fa-arrow-left"/>
					<span data-template="lang:translate">back</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container documentText paddingTopIcon paddingBottomIcon" data-template="gl:doc-details">
		<div class="row">
			<div class="col-md-3 order-2 side-col">
				<div class="allFilter">
					<div>
						<h2><a href="#dokument" data-template="lang:translate" class="collapseSingle" aria-expanded="false" data-toggle="collapse">document</a></h2>
						<div id="dokument" class="panel-collapse collapse">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="nav-item gradient-light"><a href="#transcription" class="nav-link active" data-toggle="tab">Text</a></li>
<!--								<div data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="news" data-template-wrap="no"><li class="nav-item gradient-light"><a href="#editorial" data-toggle="tab" data-template="lang:translate">editorial</a></li></div>-->
<!--								<li class="nav-item gradient-light"><a href="#backlinks" data-toggle="tab" data-template="app:ajax-tab" data-tab-callback="removeFilter">backlinks</a></li>-->
								<li class="nav-item gradient-light"><a href="#XMLPreview" data-toggle="tab" class="nav-link" data-template="app:ajax-tab">XML-Preview</a></li>
								<!--<li class="nav-item gradient-light"><a data-template="app-shared:set-attr" data-template-attr="href" data-template-key="xml-download-url">Download</a></li>-->
							</ul>
						</div>
					</div>
				</div>
				
				<div class="toc-side d-none d-md-block">
					<h2>
						<a data-template="lang:translate" data-toggle="collapse" class="collapseSingle" aria-expanded="false" href="#sidetoc">toc</a>
					</h2>
					<div id="sidetoc">
						<div data-template="templates:include" data-template-path="templates/includes/guidelines-toc.html"/>
					</div>
				</div>
				
			</div>
			<div class="col-md-9 main-col">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active fade in" id="transcription">
						<div data-template="app-shared:output" data-template-key="transcription"/>
					</div>
					<!--<div class="tab-pane fade" id="backlinks">
						<h2 data-template="lang:translate">backlinks</h2>
						<!-\- loaded via AJAX request to ./backlinks.html -\->
					</div>-->
					<div class="tab-pane fade" id="XMLPreview">
						<h2>XML</h2>
						<!-- loaded via AJAX request to ./xml.html -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container documentFooter">
		<!--<div class="row permaLink">
			<div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
				<h4>Empfohlene Zitierweise</h4>
				<p>Carl-Maria-von-Weber-Gesamtausgabe. Digitale Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:output" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
					<br/>
					<span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
			</div>
			<div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">
				<h4>Proposed citation</h4>
				<p>Complete Works of Carl Maria von Weber. Digital Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:output" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
					<br/>
					<span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
			</div>
		</div>-->
		<div class="row bugreport" data-template="app:bugreport">
			<div class="col-md-9">
				<p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">Wenn Ihnen auf dieser Seite ein Fehler oder eine Ungenauigkeit aufgefallen ist, <br/>so bitten wir um eine kurze Nachricht an
					<a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
				<p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">If you've spotted some error or inaccurateness please do not hesitate to inform us via 
					<a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
			</div>
		</div>
	</div>
</div>