<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-template="app:word-of-the-day">
                    <h1 class="home" data-template="app:print" data-template-key="wordOfTheDay">„MIT HILFE DER GÖTTLICHEN <br/> TONKUNST LÄSST SICH MEHR <br/>
                        AUSDRÜCKEN UND AUSRICHTEN ALS MIT WORTEN.“ </h1>
                    <h3 class="unterschirftweber ">
                        <a href="index.html#" data-template="app:set-attr" data-template-attr="href" data-template-key="wordOfTheDayURL">
                            <span data-template="lang:translate">gotoletter</span> <i class="fa fa-arrow-right"/>
                        </a> | <span data-template="lang:translate">wordOfTheDay</span> | <img src="$resources/img/unterschrift-weber.png"/>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <div class="container">
            <form role="form" class="form-inline ">
                <div class="row paddingTopIcon paddingBottomIcon">
                    <div class="col-md-6 ">
                        <div class="input-group ">
                            <select class="input-group-addon gradient-light bootstrap-select   ">
                                <option>Alle</option>
                                <option>Personen</option>
                                <option>Briefe</option>
                                <option>Tagebücher</option>
                                <option>Schriften</option>
                                <option>Werke</option>
                                <option>Aktuelles</option>
                                <option>Bibliographie</option>
                            </select>
                            <input type="search" class="form-control" placeholder="Standard Suche"/>
                            <span class="input-group-btn  ">
                                <button type="button" class="btn btn-primary">Suchen</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a class="advancedSearch" href="index.html#">Zur erweiterten Suche <i class="fa fa-arrow-right"/>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="borderBottom">
        <div class="container">
            <div class="row paddingTopIcon paddingBottomIcon">
                <div class="col-md-3 col-sm-6">
                    <a href="projektBeschreibung.php.html" class="teaser wega"> </a>
                    <h2>
                        <a href="projektBeschreibung.php.html">Das Projekt<br/> WeGA</a>
                    </h2>
                    <a href="projektBeschreibung.php.html">Projektbeschreibung <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="editionsRichtlinien.php.html">Editionsrichtlinien <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="bibliographie.php.html">Bibliographie <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="aktuelles.php.html">Aktuelles <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="kontakt.php.html">Kontakt <i class="fa fa-arrow-right"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="personDetails.php.html" class="teaser weber"> </a>
                    <h2>
                        <a href="personDetails.php.html">Carl Maria <br/> von Weber</a>
                    </h2>
                    <a href="personDetails.php.html#details1">Webers Person <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="personDetails.php.html#details2">Webers Korrespondenz <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="personDetails.php.html#details4">Webers Tagebücher <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="personDetails.php.html#details3">Webers Schriften <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="personDetails.php.html#details5">Webers Werke <i class="fa fa-arrow-right"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="registerPersonen.php.html" class="teaser register"> </a>
                    <h2>
                        <a href="registerPersonen.php.html">Gesamtes<br/>Register</a>
                    </h2>
                    <a href="registerPersonen.php.html">Alle Personen <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="registerBriefe.php.html">Alle Briefe <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="registerSchriften.php.html">Alle Schriften <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="registerTagebuecher.php.html">Alle Tagebücher <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="registerWerke.php.html">Alle Werke <i class="fa fa-arrow-right"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 noMargin">
                    <a href="registerAktuelles.php.html" class="teaser aktuelles"> </a>
                    <h2>
                        <a href="registerAktuelles.php.html">Aktuelles<br/>zum Projekt</a>
                    </h2>
                    <p>06.09.2013</p>
                    <p>
                        <a href="singleAktuelles.php.html">Digitale Edition Version 1.1.8
                            veröffentlicht <i class="fa fa-arrow-right"/>
                        </a>
                    </p>
                    <p>17.08.2013</p>
                    <p>
                        <a href="singleAktuelles.php.html">Schottische Lieder endlich in einer
                            praktischen Neuausgabe <i class="fa fa-arrow-right"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="colored">
        <div class="container">
            <div class="row paddingTopIcon">
                <div class="col-xs-12 ">
                    <h2 data-template="app:print-events-title">Was geschah am 9. April?</h2>
                </div>
            </div>
            <div class="row paddingBottomIcon history" data-template="app:lookup-todays-events">
                <div class="col-sm-6">
                    <p data-template="templates:each" data-template-from="events1" data-template-to="event">
                        <span data-template="app:print-event"/>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p data-template="templates:each" data-template-from="events2" data-template-to="event">
                        <span data-template="app:print-event"/>
                    </p>
                    <!--<p>1818:<a href="personDetails.php.html"> Carl Maria von Weber</a> schreibt an
                            <a href="personDetails.php.html"> Franz Siebert.</a>
                        <a href="personDetails.php.html"> [Zum Brief]</a>
                    </p>
                    <p>1818:<a href="personDetails.php.html"> Johann Gottfried Kaufmann</a>
                        stirbt.</p>
                    <p>1820:<a href="personDetails.php.html"> Wilhelm Bayrhoffer</a> wird
                        geboren.</p>
                    <p>1822:<a href="personDetails.php.html"> Carl Maria von Weber</a> schreibt an
                            <a href="personDetails.php.html"> Helmina von Chézy.</a>
                        <a href="personDetails.php.html"> [Zum Brief]</a>
                    </p>
                    <p>1823:<a href="personDetails.php.html"> Friedrich Theodor Kaufmann</a> wird
                        geboren.</p>
                    <p>1824:<a href="personDetails.php.html"> Gaspare Spontini</a> schreibt an <a href="personDetails.php.html"> Carl Graf von Brühl.</a>
                        <a href="personDetails.php.html"> [Zum Brief]</a>
                    </p>
                    <p>1826:<a href="personDetails.php.html"> Joseph August von Toerring</a>
                        stirbt.</p>
                    <p>1830:<a href="personDetails.php.html"> Friedrich Münter.</a> stirbt</p>
                    <p>1840:<a href="personDetails.php.html"> Anselm Karl Elwert.</a> stirbt</p>
                    <p>1845:<a href="personDetails.php.html"> Georg August von Griesinger</a>
                        stirbt.</p>
                    <p>1845:<a href="personDetails.php.html"> Gustav Jacob Friedrich von
                            Ungern-Sternberg.</a> stirbt.</p>
                    <p>1849:<a href="personDetails.php.html"> Carl Schumann.</a> stirbt</p>
                    <p>1865:<a href="personDetails.php.html"> Georg Goltermann</a> schreibt an <a href="personDetails.php.html"> Friedrich Wilhelm Jähns.</a>
                        <a href="personDetails.php.html"> [Zum Brief]</a>
                    </p>
                    <p>1865:<a href="personDetails.php.html"> Carl Gotthelf Kummer</a> stirbt.</p>
                    <p>1872:<a href="personDetails.php.html"> Moritz Fürstenau</a> schreibt an <a href="personDetails.php.html"> Friedrich Wilhelm Jähns.</a>
                        <a href="personDetails.php.html"> [Zum Brief]</a>
                    </p>
                    <p>1876:<a href="personDetails.php.html"> Eduard Thiele</a> schreibt an <a href="personDetails.php.html"> Friedrich Wilhelm Jähns.</a>
                        <a href="personDetails.php.html"> [Zum Brief]</a>
                    </p>
                    <p>1920:<a href="personDetails.php.html"> Adolph Schulze</a> stirbt.</p>-->
                </div>
            </div>
        </div>
    </div>
</div>