<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-template="app:word-of-the-day">
                    <h1 class="home" data-template="app:print" data-template-key="wordOfTheDay">„MIT HILFE DER GÖTTLICHEN <br/> TONKUNST LÄSST SICH MEHR <br/>
                        AUSDRÜCKEN UND AUSRICHTEN ALS MIT WORTEN.“ </h1>
                    <h3 class="unterschriftweber">
                        <a href="index.html#" data-template="app:set-attr" data-template-attr="href" data-template-key="wordOfTheDayURL">
                            <span data-template="lang:translate">gotoletter</span> <i class="fa fa-arrow-right"/>
                        </a> | <span data-template="lang:translate">wordOfTheDay</span> | <img src="$resources/img/unterschrift-weber.png"/>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <div class="container">
            <form role="form" class="form-inline" action="$link/search">
                <div class="row paddingTopIcon paddingBottomIcon">
                    <div class="col-md-6 form-group">
                        <div class="input-group">
                            <div class="input-group-btn dropdown">
                                <select class="input-group-addon gradient-light bootstrap-select form-control" name="d">
                                    <option value="all" data-template="lang:translate">all</option>
                                    <option value="persons" data-template="lang:translate">persons</option>
                                    <option value="letters" data-template="lang:translate">correspondence</option>
                                    <option value="diaries" data-template="lang:translate">diaries</option>
                                    <option value="writings" data-template="lang:translate">writings</option>
                                    <option value="works" data-template="lang:translate">works</option>
                                    <option value="news" data-template="lang:translate">news</option>
                                    <option value="biblio" data-template="lang:translate">bibliography</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" placeholder="Standard Suche" name="q"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Suchen</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a class="advancedSearch" href="#">Zur erweiterten Suche <i class="fa fa-arrow-right"/></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div data-template="app:show-at-development">
        <div class="colored borderBottom">
            <div class="container">
                <form role="form" class="form-inline">
                    <div class="row paddingTopIcon paddingBottomIcon">
                        <h3>Development Tools</h3>
                        <div class="col-md-6">
                            <h4>Commit Status </h4>
                            <a href="index.html#"><span class="currentRevision">Revision 9500 </span> <i class="fa fa-check-circle-o fa-lg"/></a>
                        </div>
                        <div class="col-md-6 form-group">
                            <h4>Neue ID</h4>
                            <div class="input-group">
                                <div class="input-group-btn dropdown">
                                    <select class="input-group-addon gradient-light bootstrap-select form-control" name="newID-d" id="newID-select">
                                        <option value="persons" data-template="lang:translate">persons</option>
                                        <option value="letters" data-template="lang:translate">correspondence</option>
                                        <option value="diaries" data-template="lang:translate">diaries</option>
                                        <option value="writings" data-template="lang:translate">writings</option>
                                        <option value="works" data-template="lang:translate">works</option>
                                        <option value="news" data-template="lang:translate">news</option>
                                        <option value="biblio" data-template="lang:translate">bibliography</option>
                                    </select>
                                </div>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="create-newID">
                                        <i class="fa fa-arrow-right"/>
                                    </button>
                                </span>
                                <span class="newID-result" style="display:none;">A001234</span>
                                <span> </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="borderBottom">
        <div class="container">
            <div class="row paddingTopIcon paddingBottomIcon">
                <div class="col-md-3 col-sm-6">
                    <a href="$link/project" class="teaser wega"> </a>
                    <h2>
                        <a href="$link/project">Das Projekt<br/> WeGA</a>
                    </h2>
                    <a href="$link/project/projectDescription.html"><span data-template="lang:translate">projectDescription</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/project/editorialGuidelines"><span data-template="lang:translate">editorialGuidelines</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/project/bibliography"><span data-template="lang:translate">bibliography</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/project/news"><span data-template="lang:translate">news</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/project/contact.html"><span data-template="lang:translate">contact</span> <i class="fa fa-arrow-right"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="$link/A002068.html" class="teaser weber"> </a>
                    <h2>
                        <a href="$link/A002068.html">Carl Maria <br/> von Weber</a>
                    </h2>
                    <a href="$link/A002068.html"><span data-template="lang:translate">webers_person</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/A002068.html#correspondence"><span data-template="lang:translate">webers_correspondence</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/A002068.html#diaries"><span data-template="lang:translate">webers_diaries</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/A002068.html#writings"><span data-template="lang:translate">webers_writings</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/A002068.html#works"><span data-template="lang:translate">webers_works</span> <i class="fa fa-arrow-right"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="$link/indices" class="teaser register"> </a>
                    <h2>
                        <a href="$link/indices" data-template="lang:translate">complete_indices</a>
                    </h2>
                    <a href="$link/indices/persons"><span data-template="lang:translate">all_persons</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/indices/letters"><span data-template="lang:translate">all_letters</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/indices/writings"><span data-template="lang:translate">all_writings</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/indices/diaries"><span data-template="lang:translate">all_diaries</span> <i class="fa fa-arrow-right"/>
                    </a>
                    <br/>
                    <a href="$link/indices/works"><span data-template="lang:translate">all_works</span> <i class="fa fa-arrow-right"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 noMargin" data-template="app:index-news-items">
                    <a href="$link/project/news" class="teaser aktuelles"> </a>
                    <h2>
                        <a href="$link/project/news">Aktuelles<br/>zum Projekt</a>
                    </h2>
                    <div data-template="app:each" data-template-from="news" data-template-to="doc" class="noMargin">
                        <p data-template="app:index-news-date">06.09.2013</p>
                        <p>
                            <a href="singleAktuelles.php.html" data-template="app:preview-icon"><span data-template="app:document-title">Digitale Edition Version 1.1.8
                                veröffentlicht</span> <i class="fa fa-arrow-right"/>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colored">
        <div class="container">
            <div class="row paddingTopIcon">
                <div class="col-xs-12 ">
                    <h2 data-template="app:print-events-title">Was geschah am 9. April?</h2>
                </div>
            </div>
            <div class="row paddingBottomIcon history" data-template="app:lookup-todays-events">
                <div class="col-sm-6">
                    <p data-template="app:each" data-template-from="events1" data-template-to="event">
                        <span data-template="app:print-event"/>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p data-template="app:each" data-template-from="events2" data-template-to="event">
                        <span data-template="app:print-event"/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>