<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <!--<meta http-equiv="CONTENT-LANGUAGE" content="de"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title data-template="app:page-title">Carl-Maria-von-Weber-Gesamtausgabe</title>

        <link rel="stylesheet" type="text/css" href="$resources/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/Easy-Responsive-Tabs-to-Accordion/css/easy-responsive-tabs.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/jquery.loadmask.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/selectize/dist/css/selectize.bootstrap3.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/google-code-prettify/bin/prettify.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/jquery-ui/themes/overcast/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/ionrangeslider/css/ion.rangeSlider.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/ionrangeslider/css/ion.rangeSlider.skinNice.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/ionrangeslider/css/normalize.css"/>

    </head>
    <body>
        <nav role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header col-md-3 navbar-right">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <a href="$link/Index" class="navbar-right">
                            <img src="$resources/img/logo_weber.png" class="brand"/>
                        </a>
                    </div>
                    <!-- Collection of nav links and other content for toggling -->
                    <div id="navbarCollapse" class="collapse navbar-collapse navbar-left col-md-9">
                        <ul class="nav navbar-nav">

                            <li data-template="app:set-active-nav">
                                <a href="$link/Index">Home</a>
                            </li>
                            <li data-template="app:set-active-nav">
                                <a href="$link/A002068.html">Weber</a>
                            </li>
                            <li data-template="app:set-active-nav">
                                <a href="$link/indices" class="dropdown-secondlevel-nav" data-toggle="dropdown" data-template="app:nav-register">indices</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="registerPersonen.php.html" data-template="app:nav-register">persons</a>
                                    </li>
                                    <li>
                                        <a href="registerBriefe.php.html" data-template="app:nav-register">letters</a>
                                    </li>
                                    <li>
                                        <a href="registerSchriften.php.html" data-template="app:nav-register">writings</a>
                                    </li>
                                    <li>
                                        <a href="registerTagebuecher.php.html" data-template="app:nav-register">diaries</a>
                                    </li>
                                    <li>
                                        <a href="registerWerke.php.html" data-template="app:nav-register">works</a>
                                    </li>
                                </ul>
                            </li>
                            <li data-template="app:set-active-nav">
                                <a href="$link/search" data-template="lang:translate">search</a>
                            </li>
                           <li data-template="app:set-active-nav" id="project-nav">
                                <a href="$link/project" class="dropdown-secondlevel-nav" data-toggle="dropdown" data-template="lang:translate">project</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="$link/project/projectDescription.html" data-template="lang:translate">projectDescription</a>
                                    </li>
                                    <li>
                                        <a href="$link/project/editorialGuidelines" data-template="lang:translate">editorialGuidelines</a>
                                    </li>
                                    <li>
                                        <a href="$link/project/bibliography" data-template="lang:translate">bibliography</a>
                                    </li>
                                    <li>
                                        <a href="$link/project/news" data-template="lang:translate">news</a>
                                    </li>
                                    <li>
                                        <a href="$link/project/contact.html" data-template="lang:translate">contact</a>
                                    </li>
                                </ul>
                            </li>
                            <li data-template="app:set-active-nav">
                                <a href="$link/help">Hilfe</a>
                            </li>
                            <div data-template="app:show-at-development">
                            <li class="divider"/>
                            <li data-template="app:set-active-nav">
                                <a href="$link/dev" class="dropdown-secondlevel-nav" data-toggle="dropdown">Dev</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="$link/dev/test-html.html">Test-HTML</a>
                                    </li>
                                </ul>
                            </li>
                            </div>
                            <li class="divider"/>
                            <li data-template="app:set-active-lang">De</li>
                            <li data-template="app:set-active-lang">En</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">
            <!-- content gets filled by templatung module-->
        </div>
        <div class="greyLight">
            <div class="container footer">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.uni-paderborn.de/">
                            <img class="img-responsive" src="$resources/img/logo_uni_paderborn_sw.png" data-hovered-src="$resources/img/logo_uni_paderborn_farbe.png"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.hfm-detmold.de/">
                            <img class="img-responsive" src="$resources/img/logo_hfm_detmold_sw.png" data-hovered-src="$resources/img/logo_hfm_detmold_farbe.png"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://staatsbibliothek-berlin.de/">
                            <img class="img-responsive" src="$resources/img/logo_staatsbib_berlin_sw.png" data-hovered-src="$resources/img/logo_staatsbib_berlin_farbe.png"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.adwmainz.de/">
                            <img class="img-responsive" src="$resources/img/logo_akademie_mainz_sw.png" data-hovered-src="$resources/img/logo_akademie_mainz_sw.png"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <a href="http://exist-db.org/">
                            <img class="img-responsive" src="$resources/img/logo_existdb_sw.png" data-hovered-src="$resources/img/logo_existdb_farbe.png"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://validator.w3.org/check?uri=referer">
                            <img class="img-responsive" src="$resources/img/logo_w3c_sw.png" data-hovered-src="$resources/img/logo_w3c_farbe.png"/>
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <a href="http://www.tei-c.org/">
                            <img class="img-responsive" src="$resources/img/logo_tei_sw.png" data-hovered-src="$resources/img/logo_tei_farbe.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="greyDark footerbottom">
            <div class="container ">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="footerNav">
                            <li>
                                <a href="kontakt.php.html">Kontakt</a>
                            </li>
                            <li>
                                <a href="impressum.php.html">Impressum</a>
                            </li>
                            <li>© Copyright 2014 WeGA</li>
                            <li>
                                <a target="_blank" href="http://www.dtsi.de">Webdesign,
                                    Programmierung von DTSi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="$resources/lib/jquery/dist/jquery.min.js"/>
        <script type="text/javascript" src="$resources/lib/FitText.js/jquery.fittext.js"/>
        <script type="text/javascript" src="$resources/lib/bootstrap/dist/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$resources/lib/Easy-Responsive-Tabs-to-Accordion/js/easyResponsiveTabs.js"/>
        <script type="text/javascript" src="$resources/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"/>
        <script type="text/javascript" src="$resources/js/jquery.loadmask.js"/>
        <script type="text/javascript" src="$resources/lib/bootstrap-remote-data/js/bootstrap-remote-tabs.min.js"/>
        <script type="text/javascript" src="$resources/lib/jquery-ui/ui/minified/datepicker.min.js"/>
        <script type="text/javascript" src="$resources/lib/jquery-ui/ui/minified/i18n/datepicker-de.min.js"/>
        <script type="text/javascript" src="$resources/lib/google-code-prettify/bin/prettify.min.js"/>
        <script type="text/javascript" src="$resources/lib/selectize/dist/js/standalone/selectize.min.js"/>
        <script type="text/javascript" src="$resources/lib/moment/min/moment-with-locales.min.js"/>
        <script type="text/javascript" src="$resources/lib/ionrangeslider/js/ion.rangeSlider.min.js"/>
        <script type="text/javascript" src="$resources/js/init.js"/>
        <script type="text/javascript" data-template="app:page-javascript"/>
    </body>
</html>