<html xmlns="http://www.w3.org/1999/xhtml" data-template="app-shared:set-attr" data-template-key="lang" data-template-attr="lang">
    <head data-template="lod:metadata" prefix="dc: http://purl.org/dc/elements/1.1/; dcterms: http://purl.org/dc/terms/">
        <meta charset="UTF-8"/>
        <!--<meta http-equiv="CONTENT-LANGUAGE" content="de"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title data-template="app-shared:print" data-template-key="meta-page-title">Carl-Maria-von-Weber-Gesamtausgabe</title>
        
        <meta property="dc:title" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="meta-page-title"/>
        <meta property="dc:publisher" content="Carl-Maria-von-Weber-Gesamtausgabe"/>
        <meta property="dc:type" content="Text"/>
        <meta property="dc:format" content="text/html"/>
        <meta property="dc:contributor" data-template="lod:each-meta" data-template-key="DC.contributor"/>
        <meta property="dc:creator" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.creator"/>
        <meta property="dc:date" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.date"/>
        <meta property="dc:identifier" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.identifier"/>
        <meta property="dc:description" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.description"/>
        <meta name="description" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.description"/>
        <meta property="dc:subject" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.subject"/>
        <meta property="dc:language" content="de"/>
        <meta property="dc:rights" content="https://creativecommons.org/licenses/by/4.0/" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.rights"/>
        <meta name="google-site-verification" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="google-site-verification"/>
        <meta name="msvalidate.01" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="ms-site-verification"/>
        <meta name="robots" content="noimageindex"/>
        
        <link rel="alternate" data-template="lod:hreflang"/>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="/manifest.json"/>
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0066cc"/>
        <meta name="msapplication-TileColor" content="#2d89ef"/>
        <meta name="theme-color" content="#ffffff"/>

        <link rel="stylesheet" type="text/css" href="$resources/lib/Easy-Responsive-Tabs-to-Accordion/css/easy-responsive-tabs.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/jquery.loadmask.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/styles.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/jquery.loadmask-min.css" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/styles-min.css" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/select2/dist/css/select2.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/google-code-prettify/bin/prettify.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/jquery-ui-themes/themes/overcast/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/ion-rangeslider/css/ion.rangeSlider.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        
        <script type="application/ld+json" data-template="app-shared:output" data-template-key="jsonld-metadata" data-template-wrap="yes"/>


    </head>
    <body>
        <div class="container">
        <nav class="navbar navbar-light navbar-default navbar-expand-lg">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" data-target="#navbarCollapse" aria-expanded="false" data-toggle="collapse" class="navbar-toggler">
                        <span class="navbar-toggler-icon"/>
                    </button>
                    <a href="$link/index" class="nav-link navbar-brand order-3">
                        <img src="$resources/img/logo_weber.png" class="brand" alt="navbar-background-image"/>
                    </a>
                    
                    <!-- Collection of nav links and other content for toggling -->
                    <div id="navbarCollapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" data-template="app:active-nav">
                            <li class="nav-item" data-template="app:set-active-nav">
                                <a class="nav-link" href="$link/index">Home</a>
                            </li>
                            <li data-template="app:set-active-nav" class="dropdown nav-item">
                                <a class="nav-link dropdown-secondlevel-nav dropdown-toggle" data-toggle="dropdown" href="#">Weber</a>
                                <ul class="dropdown-menu" role="menu" data-template="app-shared:order-list-items">
                                    <li class="">
                                        <a class="dropdown-item" href="$link/A002068/bio.html" data-template="lang:translate">bio</a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item" href="$link/A002068.html#documents" data-template="lang:translate">documents</a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item" href="$link/A002068.html#correspondence" data-template="lang:translate">correspondence</a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item" href="$link/A002068.html#writings" data-template="lang:translate">writings</a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item" href="$link/A002068.html#diaries" data-template="lang:translate">diaries</a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item" href="$link/A002068.html#works" data-template="lang:translate">works</a>
                                    </li>
                                </ul>
                            </li>
                            <li data-template="app:set-active-nav" class="nav-item dropdown">
                                <a class="nav-link dropdown-secondlevel-nav dropdown-toggle" data-toggle="dropdown" data-template="lang:translate" href="#">indices</a>
                                <ul class="dropdown-menu" role="menu" data-template="app-shared:order-list-items">
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/persons" data-template="lang:translate">persons</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/letters" data-template="lang:translate">letters</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/writings" data-template="lang:translate">writings</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/diaries" data-template="lang:translate">diaries</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/works" data-template="lang:translate">works</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/thematicCommentaries" data-template="lang:translate">thematicCommentaries</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/documents" data-template="lang:translate">documents</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/indices/places" data-template="lang:translate">places</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" data-template="app:set-active-nav">
                                <a class="nav-link" href="$link/search" data-template="lang:translate">search</a>
                            </li>
                           <li data-template="app:set-active-nav" id="project-nav" class="nav-item dropdown">
                                <a class="nav-link dropdown-secondlevel-nav dropdown-toggle" data-toggle="dropdown" data-template="lang:translate" href="#">project</a>
                                <ul class="dropdown-menu" role="menu" data-template="app-shared:order-list-items">
                                    <li>
                                        <a class="dropdown-item" href="$link/project/news" data-template="lang:translate">news</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/project/volContents.html" data-template="lang:translate">volContents</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/project/bibliography" data-template="lang:translate">bibliography</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/project/editorialGuidelines-music.html" data-template="lang:translate">editorialGuidelines-music</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/project/editorialGuidelines-text.html" data-template="lang:translate">editorialGuidelines-text</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/project/contact.html" data-template="lang:translate">contact</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/project/projectDescription.html" data-template="lang:translate">projectDescription</a>
                                    </li>
                                    <!--<li>
                                        <a class="dropdown-item"  href="$link/project/credits.html" data-template="lang:translate">credits</a>
                                    </li>-->
                                </ul>
                            </li>
                            <li data-template="app:set-active-nav" id="help-nav" class="nav-item dropdown">
                                <a class="nav-link dropdown-secondlevel-nav dropdown-toggle" data-toggle="dropdown" data-template="lang:translate" href="#">help</a>
                                <ul class="dropdown-menu" role="menu" data-template="app-shared:order-list-items">
                                    <li>
                                        <a class="dropdown-item" href="$link/help/faq.html" data-template="lang:translate">faq</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="$link/help/apiDocumentation.html" data-template="lang:translate">apiDocumentation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item divider"/>
                            <li class="nav-item" data-template="app:set-active-nav">
                                <a class="nav-link" href="$link/specialVolume.html" data-template="lang:translate">specialVolume</a>
                            </li>
                            <li class="nav-item divider"/>
                            <li class="nav-item" data-template="app:set-active-lang">De</li>
                            <li class="nav-item" data-template="app:set-active-lang">En</li>
                        </ul>
                    </div>
                
            
        </nav>
        </div>
        <div id="content">
            <!-- content gets filled by templating module-->
        </div>
        <div class="greyLight">
            <div class="container footer">
                <div class="row">
                    <div class="col-md-4 col-6">
                        <a href="http://www.uni-paderborn.de/">
                            <img class="img-fluid" src="$resources/img/logo_uni_paderborn_sw.png" data-hovered-src="$resources/img/logo_uni_paderborn_farbe.png" alt="Logo der Universität Paderborn"/>
                        </a>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="http://www.hfm-detmold.de/">
                            <img class="img-fluid" src="$resources/img/logo_hfm_detmold_sw.png" data-hovered-src="$resources/img/logo_hfm_detmold_farbe.png" alt="Logo der Hochschule für Musik Detmold"/>
                        </a>
                    </div>
                    <div class="clearfix d-none d-xs-block d-sm-none"><!-- break and clearfix for extra small devices (phones) --></div>
                    <div class="col-md-4 col-6">
                        <a href="http://staatsbibliothek-berlin.de/">
                            <img class="img-fluid" src="$resources/img/logo_staatsbib_berlin_sw.png" data-hovered-src="$resources/img/logo_staatsbib_berlin_farbe.png" alt="Logo der Staatsbibliothek zu Berlin"/>
                        </a>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="http://www.adwmainz.de/">
                            <img class="img-fluid" src="$resources/img/logo_akademie_mainz_sw.png" data-hovered-src="$resources/img/logo_akademie_mainz_sw.png" alt="Emblem der Akademie Mainz"/>
                        </a>
                    </div>
                    <div class="clearfix d-none d-xs-block d-sm-none"><!-- break and clearfix for extra small devices (phones) --></div>
                    <div class="col-md-4 col-6">
                        <a href="http://exist-db.org/">
                            <img class="img-fluid" src="$resources/img/logo_existdb_sw.png" data-hovered-src="$resources/img/logo_existdb_farbe.png" alt="eXist-db logo"/>
                        </a>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="http://www.tei-c.org/">
                            <img class="img-fluid" src="$resources/img/logo_tei_sw.png" data-hovered-src="$resources/img/logo_tei_farbe.png" alt="Text Encoding Initiative logo"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="greyDark footerbottom">
            <div class="container ">
                <div class="row">
                    <div class="col-12">
                        <ul class="footerNav">
                            <li>
                                <a href="$link/project/contact.html" data-template="lang:translate">contact</a>
                            </li>
                            <li>
                                <a href="$link/project/about.html" data-template="lang:translate">about</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC-BY International 4.0</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/Edirom/WeGA-WebApp">Source Code on GitHub <i class="fa fa-github" aria-hidden="true"/></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://doi.org/10.5281/zenodo.3520700">Data on Zenodo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- The template for popover (aka tooltips) content(!) -->
        <div id="carousel-popover" class="carousel slide d-none" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item item active">
                    <h3 class="item-title">
                        <span class="item-title-content">Loading …</span>
                        <a href="#editorial" class="apparatus-link item-counter">1</a>
                    </h3>
                    <div class="item-content">
                        <div class="progress" style="min-width:244px">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-controls">
                <a class="carousel-control carousel-control-prev left" href="#carousel-popover" data-slide="prev">
                    <span class="fa fa-angle-double-left"/>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-popover" data-slide-to="0" class="active"/>
                </ol>
                <a class="carousel-control carousel-control-next right" href="#carousel-popover" data-slide="next">
                    <span class="fa fa-angle-double-right"/>
                </a>
            </div> 
        </div>
        
        <script type="text/javascript" src="$resources/lib/jquery/dist/jquery.min.js"/>
        <script type="text/javascript" src="$resources/lib/fittextjs/index.js"/>
        
        <script type="text/javascript" src="$resources/lib/bootstrap/dist/js/bootstrap.bundle.min.js"/>
        <script type="text/javascript" src="$resources/lib/Easy-Responsive-Tabs-to-Accordion/js/easyResponsiveTabs.js"/>
        <script type="text/javascript" src="$resources/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"/>
        <script type="text/javascript" src="$resources/js/jquery.loadmask.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/jquery.loadmask-min.js" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/bootstrap-remote-data/js/bootstrap-remote-tabs.min.js"/>
        <script type="text/javascript" src="$resources/lib/jquery-ui/ui/widgets/datepicker-min.js"/>
        <script type="text/javascript" src="$resources/lib/jquery-ui/ui/i18n/datepicker-de.js"/>
        <script type="text/javascript" src="$resources/lib/google-code-prettify/bin/prettify.min.js"/>
        <script type="text/javascript" src="$resources/lib/select2/dist/js/select2.min.js"/>
        <script type="text/javascript" src="$resources/lib/moment/min/moment-with-locales.min.js"/>
        <script type="text/javascript" src="$resources/lib/ion-rangeslider/js/ion.rangeSlider.min.js"/>
        <script type="text/javascript" src="$resources/lib/flip/dist/jquery.flip.min.js"/>
        <script type="text/javascript" src="$resources/lib/openseadragon/openseadragon/openseadragon.min.js"/>
        <script type="text/javascript" src="$resources/js/greedynav.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/greedynav-min.js" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/jszip/dist/jszip.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net/js/jquery.dataTables.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net-buttons/js/dataTables.buttons.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/init.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/init-min.js" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        
        <div data-template="app-shared:if-matches" data-template-key="environment" data-template-value="production" data-template-wrap="false">
            <!-- Matomo -->
            <script type="text/javascript">
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                  var u="https://matomo.weber-gesamtausgabe.de/";
                  _paq.push(['setTrackerUrl', u+'matomo.php']);
                  _paq.push(['setSiteId', '1']);
                  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                  g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Matomo Code -->
        </div>
        
    </body>
</html>