<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-template="app:register-title">Personen</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <!-- Breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li><a href="$link/index">Home</a></li>
                        <li><a data-template="app:breadcrumb-register1">Register</a></li>
                        <li><span data-template="app:breadcrumb-register2">Personen</span></li>
                    </ol>
                </div>
                <div class="col-sm-2 d-none d-lg-block backLinkInBreadcrumb" onclick="history.back();">
                    <i class="fa fa-arrow-left"/> <span data-template="lang:translate">back</span> </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12 paddingTopIcon paddingBottomIcon">
                <!--<div data-template="templates:include" data-template-path="templates/ajax/contacts.html"/>-->
                <div data-template="app:register-dispatch"/>
            </div>
        </div>
    </div>
</div>