<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-template="app:document-title">CARL MARIA VON WEBER AN
                        BREITKOPF UND HÄRTEL IN LEIPZIG SALZBURG, MONTAG, 3. SEPTEMBER 1798</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <div class="container">
            <div data-template="templates:if-parameter-unset" data-template-param="q">
                <div class="row">
                    <div class="col-sm-10">
                        <ol class="breadcrumb" data-template="app-shared:if-matches" data-template-key="docType" data-template-value="var">
                            <li><a href="$link/index">Home</a></li>
                            <li data-template="app-shared:if-not-matches" data-template-key="docID" data-template-value="A070003 A070090"><span data-template="app:breadcrumb-var"/></li>
                            <li data-template="app-shared:if-matches" data-template-key="docID" data-template-value="A070003"><a href="$link/A002068.html">Carl Maria von Weber</a></li>
                            <li><span data-template="app:breadcrumb-var2"/></li>
                        </ol>
                        <ol class="breadcrumb" data-template="app-shared:if-matches" data-template-key="docType" data-template-value="thematicCommentaries">
                            <li><a href="$link/index">Home</a></li>
                            <li><a data-template="app:breadcrumb-person">Carl Maria von Weber</a></li>
                            <li><a data-template="app:breadcrumb-docType">Korrespondenz</a></li>
                            <li><span data-template="app-shared:print" data-template-key="docID">A040080</span></li>
                        </ol>
                        <ol class="breadcrumb" data-template="app-shared:if-matches" data-template-key="docType" data-template-value="addenda">
                            <li><a href="$link/index">Home</a></li>
                            <li><span data-template="lang:translate">project</span></li>
                            <li><a href="$link/project/volContents.html" data-template="lang:translate">volContents</a></li>
                            <li><span data-template="app-shared:print" data-template-key="docID">A120000</span></li>
                        </ol>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block backLinkInBreadcrumb" onclick="history.back();">
                        <i class="fa fa-arrow-left"/>
                        <span data-template="lang:translate">back</span>
                    </div>
                </div>
            </div>
            <div data-template="templates:if-parameter-set" data-template-param="q">
                <div class="row breadcrumb" data-template="search:get-session-for-singleview">
                    <div class="col-md-4">
                        <a href="$link/search" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="search-prev-item-url"><i class="fa fa-arrow-left"/> <span data-template="lang:translate">prevMatch</span></a>
                    </div>
                    <div class="col-md-4">
                        <span data-template="app-shared:print" data-template-key="index-of-current-doc">15</span> / <a href="$link/search" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="search-backlink"><span data-template="search:results-count">124 Suchergebnisse</span> (»<span data-template="app-shared:print" data-template-key="query-string-org">Carl Weber</span>«)</a>
                    </div>
                    <div class="col-md-4">
                        <a href="$link/search" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="search-next-item-url"><span data-template="lang:translate">nextMatch</span> <i class="fa fa-arrow-right"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container documentText paddingTopIcon paddingBottomIcon">
        <div class="row" data-template="app:doc-details">
            <div data-template="templates:include" data-template-path="templates/includes/download-modal-tei.html"/>
            <div class="col-md-3 order-2 side-col">
                <div class="allFilter" data-template="facets:document-allFilter">
                    <div>
                        <h2><a href="#dokument" data-template="lang:translate" class="collapseSingle" aria-expanded="true" data-toggle="collapse">document</a></h2>
                        <div id="dokument" class="panel-collapse collapse show">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item gradient-light"><a href="#transcription" class="active nav-link" data-toggle="tab">Text</a></li>
                                <li class="nav-item gradient-light"><a class="nav-link" href="#backlinks" data-toggle="tab" data-template="app:ajax-tab" data-tab-callback="removeFilter">backlinks</a></li>
                                <li class="nav-item gradient-light"><a class="nav-link" href="#XMLPreview" data-toggle="tab" data-template="app:ajax-tab">XML-Preview</a></li>
                                <li class="nav-item gradient-light"><a class="nav-link" href="#" data-toggle="modal" data-target="#downloadModal">Download</a></li>
                            </ul>
                        </div>
                    </div>
                    <div data-template="app-shared:each" data-template-from="filterSections" data-template-to="filterSection" class="filtersection">
                        <h2><a class="collapseSingle collapsed" data-toggle="collapse" aria-expanded="false" data-template="facets:filter-head" href="#">Personen</a></h2>
                        <div class="panel-collapse collapse" data-template="facets:filter-body">
                            <div data-toggle="buttons" class="btn-group primary" data-template="facets:filter-options">
                                <label class="btn gradient-light" data-template="app-shared:each" data-template-from="filterOptions" data-template-to="filterOption">
                                    <input type="checkbox" name="options" data-template="facets:filter-value"/> <span data-template="facets:filter-label">Weber, Carl Maria von</span> 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 main-col" data-template="app:prepare-text">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="transcription">
                        <div data-template="app-shared:output" data-template-key="transcription"/>
                    </div>
                    <div class="tab-pane fade" id="backlinks">
                        <h2 data-template="lang:translate">backlinks</h2>
                        <!-- loaded via AJAX request to ./backlinks.html -->
                    </div>
                    <div class="tab-pane fade" id="XMLPreview">
                        <h2>XML</h2>
                        <!-- loaded via AJAX request to ./xml.html -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-template="app-shared:if-matches" data-template-key="docID" data-template-value="A070002">
            <div class="col-md-9 piwik-opt-out">
                <h2>Matomo Webanalyse</h2>
                <iframe src="https://matomo.weber-gesamtausgabe.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de"/>
            </div>
        </div>
    </div>
    
    <div class="container documentFooter" data-template="app:documentFooter">
        <div class="row permaLink">
            <div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
                <h4>Empfohlene Zitierweise</h4>
                <p>Carl-Maria-von-Weber-Gesamtausgabe. Digitale Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:output" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
                    <br/>
                    <span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
            </div>
            <div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">
                <h4>Proposed citation</h4>
                <p>Complete Works of Carl Maria von Weber. Digital Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:output" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
                    <br/>
                    <span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
            </div>
        </div>
        <div class="row bugreport">
            <div class="col-md-9">
                <p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">Wenn Ihnen auf dieser Seite ein Fehler oder eine Ungenauigkeit aufgefallen ist, <br/>so bitten wir um eine kurze Nachricht an
                    <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
                <p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">If you've spotted some error or inaccurateness please do not hesitate to inform us via 
                    <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
            </div>
        </div>
    </div>
</div>