<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-template="app:document-title">Oberon</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="colored borderBottom">
        <div class="container">
            <div data-template="templates:if-parameter-unset" data-template-param="q">
                <div class="row">
                    <div class="col-sm-10">
                        <ol class="breadcrumb">
                            <li><a href="$link/index">Home</a></li>
                            <li><a data-template="app:breadcrumb-person">Carl Maria von Weber</a></li>
                            <li><a data-template="app:breadcrumb-docType">Werke</a></li>
                            <li><span data-template="app-shared:print" data-template-key="docID">A020040</span> <span data-template="app-shared:if-not-matches" data-template-key="docType" data-template-value="news" data-template-wrap="no"><span data-template="app:status" class="docStatus">in Bearbeitung</span></span></li>
                        </ol>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block backLinkInBreadcrumb" onclick="history.back();">
                        <i class="fa fa-arrow-left"/> <span data-template="lang:translate">back</span> 
                    </div>
                </div>
            </div>
            <div data-template="templates:if-parameter-set" data-template-param="q">
                <div class="row breadcrumb" data-template="search:get-session-for-singleview">
                    <div class="col-md-4">
                        <a href="$link/search" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="search-prev-item-url"><i class="fa fa-arrow-left"/> <span data-template="lang:translate">prevMatch</span></a>
                    </div>
                    <div class="col-md-4">
                        <span data-template="app-shared:print" data-template-key="index-of-current-doc">15</span> / <a href="$link/search" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="search-backlink"><span data-template="search:results-count">124 Suchergebnisse</span> (»<span data-template="app-shared:print" data-template-key="query-string-org">Carl Weber</span>«)</a>
                    </div>
                    <div class="col-md-4">
                        <a href="$link/search" data-template="app-shared:set-attr" data-template-attr="href" data-template-key="search-next-item-url"><span data-template="lang:translate">nextMatch</span> <i class="fa fa-arrow-right"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container paddingTopIcon paddingBottomIcon" data-template="app:work-basic-data">
        <div data-template="templates:include" data-template-path="templates/includes/download-modal-mei.html"/>
        <div class="row" id="meta" data-template="img:iconography">
            <div class="col-md-3 col-sm-6">
                <!--<img id="portrait-placeholder" class="img-fluid" src="$resources/img/icons/icon_person_unbekannt_gross.png" alt="Placeholder Image" width="260" height="340"/>-->
                <div class="portrait large">
                    <div class="front">
                        <img class="img-fluid" src="$resources/img/icons/icon_person_placeholder.png" alt="Placeholder Image" data-template="img:portrait" data-template-size="large"/>
                    </div>
                    <div class="back colored">
                        <h3 data-template="lang:translate">imageSource</h3>
                        <p data-template="app:portrait-credits">This is the source</p>
                    </div>
                </div>
            </div>
            <div class="col-md paddingBottomIcon col-sm-6 basicdata">
                <h2 data-template="lang:translate">basic_data</h2>
                <ol class="media" data-template="app-shared:each" data-template-from="ids" data-template-to="id">
                	<li data-template="app:prepare-work-id"><b data-template="app-shared:print" data-template-key="id-key">WeV:</b> <span data-template="app-shared:print" data-template-key="id-value">9911</span></li>
                </ol>
                <ol class="media" data-template="app-shared:each" data-template-from="titles" data-template-to="title">
                    <li><strong data-template="lang:translate">title</strong>: <span data-template="app-shared:output" data-template-key="title">Ein Titel</span></li>
                </ol>
                <ol class="media" data-template="app-shared:each" data-template-from="altTitles" data-template-to="title">
                    <li><strong data-template="lang:translate">altTitle</strong>: <span data-template="app-shared:output" data-template-key="title">Ein Titel</span></li>
                </ol>
                <ol class="media" data-template="app-shared:each" data-template-from="relators" data-template-to="relator">
                	<li><strong data-template="app:preview-relator-role"/>: <span data-template="app:preview-relator-name" data-template-popover="true"/></li>
                </ol>
            </div>
            <div class="col-md col-sm-12 iconographie">
                <div data-template="app-shared:if-exists" data-template-key="iconographyImages" data-template-wrap="no">
                    <h2 data-template="lang:translate">iconography</h2>
                </div>
                <div class="iconographythumbnail" data-template="app-shared:each" data-template-from="iconographyImages" data-template-to="iconographyImage" data-template-max="30">
                    <img data-template="img:iconographyImage" src="dummy.jpg"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav tabs -->
    <div id="details" data-template="app:work-details">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-12">
                    <nav class="greedy">
                        <ul class="resp-tabs-list links easyResponsiveTabs">
                            <li><a data-template="app:person-main-tab" href="#biographies">descriptions</a></li>
                            <li><a data-template="app:person-main-tab" href="#sources" data-target="$docID/sources.html">sources</a></li>
                            <li><a data-template="app:person-main-tab" href="#backlinks" data-target="$docID/backlinks.html">backlinks</a></li>
                        </ul>
                        <button data-template="lang:translate">more</button>
                        <ul class="hidden-links hidden"/>
                    </nav>
                </div>
            </div>
        </div>
        <div class="colored borderTop">
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <div class="resp-tabs-container colored easyResponsiveTabs">
                            <!-- Biographie-->
                            <div class="biografien paddingTopIcon paddingBottomIcon textBlock" id="biographies">
                                <div class="row">
                                    <div class="col-md-3 order-2 side-col">
                                        <div class="allFilter">
                                            <h2 data-template="lang:translate">documents</h2>
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item gradient-light">
                                                    <a class="nav-link active"  data-toggle="tab" href="#wegaText">WeGA Text</a>
                                                </li>
                                                <li class="nav-item gradient-light">
                                                    <a class="nav-link"  data-toggle="tab" href="#wikipediaText" data-template="app:ajax-tab">wikipedia-article</a>
                                                </li>
                                                <li class="nav-item gradient-light">
                                                    <a class="nav-link"  data-toggle="tab" href="#gndText" data-template="app:ajax-tab">gnd-entry</a>
                                                </li>
                                                <li class="nav-item gradient-light">
                                                    <a class="nav-link"  data-toggle="tab" href="#gnd-beacon" data-template="app:ajax-tab">gnd-beacon</a>
                                                </li>
                                                <li class="nav-item gradient-light">
                                                    <a class="nav-link"  data-toggle="tab" href="#XMLPreview" data-template="app:ajax-tab">XML-Preview</a>
                                                </li>
                                                <li class="nav-item gradient-light">
                                                    <a class="nav-link"  href="#" data-toggle="modal" data-target="#downloadModal">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9 ">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active fade in" id="wegaText">
                                                <h2 data-template="lang:translate">informationAboutTheWork</h2>
                                                <div data-template="app-shared:if-exists" data-template-key="dedicatees">
                                                    <h3 data-template="lang:translate">dedicatees</h3>
                                                    <ul>
                                                        <li data-template="app-shared:each" data-template-from="dedicatees" data-template-to="relator">
                                                            <span data-template="app:preview-relator-name" data-template-popover="true">Amalie, Königin von Sachsen</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div data-template="app-shared:if-exists" data-template-key="creation">
                                                    <h3 data-template="lang:translate">creation</h3>
                                                    <div data-template="app-shared:output" data-template-key="creation"/>
                                                </div>
                                                <div data-template="app-shared:if-exists" data-template-key="notesStmt">
                                                    <h3 data-template="lang:translate">mei_notesStmt</h3>
                                                    <div data-template="app-shared:output" data-template-key="notesStmt"/>
                                                </div>
                                                <div data-template="app-shared:if-not-exists" data-template-key="dedicatees creation" data-template-or="false">
                                                    <!-- Wenn in der Werkdatei keine Detailinformationen (dedicatees, creation) gefunden werden, dann wird der folgende Standardtext ausgegeben -->
                                                    <p><i data-template="lang:translate">noWorkDetailsFound</i></p>
                                                    <p data-template="lang:translate">noWorkDetailsFoundReason</p>
                                                    <ul class="tei_list">
                                                        <li data-template="lang:translate">noBioFoundReason1</li>
                                                        <li data-template="lang:translate">noBioFoundReason2</li>
                                                        <li data-template="lang:translate">noWorkDetailsFoundReason3</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="wikipediaText">
                                                <h2>Wikipedia</h2>
                                            </div>
                                            <div class="tab-pane fade" id="gndText">
                                                <h2>GND</h2>
                                            </div>
                                            <div class="tab-pane fade" id="gnd-beacon">
                                                <h2>GND Beacon Links</h2>
                                            </div>
                                            <div class="tab-pane fade" id="XMLPreview">
                                                <h2>XML</h2>
                                                <!--<pre class="prettyprint"><code class="language-xml"><![CDATA[<element xmlns="http://bla.org"><foo>some text</foo></element>]]></code></pre>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Quellen -->
                            <div class="sources paddingTopIcon paddingBottomIcon textBlock" id="sources">
                                <!-- loaded via ajax -->
                            </div>
                            <!-- Backlinks -->
                            <div class="backlinks paddingTopIcon paddingBottomIcon textBlock" id="backlinks">
                                <!-- loaded via ajax -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colored">
        <div class="container documentFooter" data-template="app:documentFooter">
            <div class="row permaLink">
                <div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
                    <h4>Empfohlene Zitierweise</h4>
                    <p>Carl-Maria-von-Weber-Gesamtausgabe. Digitale Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:output" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
                        <br/>
                        <span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
                </div>
                <div class="col-md-9" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">
                    <h4>Proposed citation</h4>
                    <p>Complete Works of Carl Maria von Weber. Digital Edition, <span data-template="app-shared:print" data-template-key="permalink">http://www.weber-gesamtausgabe.de/wega/A000154</span> (<span data-template="app-shared:output" data-template-key="versionNews">Version 1.2dev vom 12. Juni 2014</span>)
                        <br/>
                        <span data-template="app-shared:print" data-template-key="latestChange">Letzte Änderung dieses Dokuments am 22. Mai 2014 durch Peter Stadler</span></p>
                </div>
            </div>
            <div class="row bugreport">
                <div class="col-md-9">
                    <p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">Wenn Ihnen auf dieser Seite ein Fehler oder eine Ungenauigkeit aufgefallen ist, <br/>so bitten wir um eine kurze Nachricht an
                        <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
                    <p data-template="app-shared:if-matches" data-template-key="lang" data-template-value="en">If you've spotted some error or inaccurateness please do not hesitate to inform us via 
                        <a href="#" class="obfuscate-email" data-template="app-shared:print" data-template-key="bugEmail">bugEmail</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>