<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="document">Datatables</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" data-template="dev-app:datatables">
        <table id="datatables" class="table table-hover table-striped" data-template="app:inject-api-base" style="width:100%">
            <thead>
                <tr>
                    <th>WeGA-ID</th>
                    <th>Verfasser</th>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Signatur</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>WeGA-ID</th>
                    <th>Verfasser</th>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Signatur</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>