<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="document">Datatables</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" data-template="dev-app:datatables">
        <table id="datatables" class="table table-hover table-striped" data-template="app:inject-api-base" style="width:100%">
            <thead>
                <tr>
                    <th>WeGA-ID</th>
                    <th>Verfasser</th>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Signatur</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>WeGA-ID</th>
                    <th>Verfasser</th>
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Signatur</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <script>
        function defer(method) {
            if (window.jQuery) {
                method();
            } else {
                setTimeout(function() { defer(method) }, 50);
            }
        }
        
        function initDataTables() {
            $('#datatables')
            .on('xhr.dt', function ( e, settings, json, xhr ) {
                //console.log(xhr.getAllResponseHeaders());
                json.recordsTotal = xhr.getResponseHeader('totalRecordCount')
                json.recordsFiltered = xhr.getResponseHeader('filteredrecordcount')
            } )
            .DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": { 
                    url: $('#datatables').attr('data-api-base') + "/repositories/items?siglum=D-B",
                    cache: true,
                    dataSrc: '',
                    data: function(d) {
                        //console.log(d)
                        return { 
                            limit: d.length,
                            offset: d.start +1,
                            orderby: d.columns[d.order[0].column].name,
                            orderdir: d.order[0].dir
                        }
                    }
                },
                "columns": [
                    { "data": "docID", "name": "docID", "orderable": true, "render": function(data, type, row, meta) { return '<a href="https://dev.weber-gesamtausgabe.de/' + data + '">' + data + '</a>'; } },
                    { "data": "related_entities", "name": "author", "orderable": false, "render": function(data, type, row, meta) { var authors = []; data.forEach(function(item) { if(item.rel==='author') { authors.push( item.name ) }}); return authors.join('; ') } },
                    { "data": "date", "name": "sortdate", "orderable": true },
                    { "data": "title", "name": "title", "orderable": true },
                    { "data": "idno", "name": "idno", "orderable": true }
                ]
            } )
        }
        
        defer(initDataTables);
    </script>
</div>
